
@font-face {
  font-family: 'tradegothic';
  src: url('fonts/tradegothic/tradegothic.eot'); /* IE9 Compat Modes */
  src: url('fonts/tradegothic/tradegothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/tradegothic/tradegothic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/tradegothic/tradegothic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/tradegothic/tradegothic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'tradegothic1';
  src: url('fonts/tradegothic/tradegothic1.eot'); /* IE9 Compat Modes */
  src: url('fonts/tradegothic/tradegothic1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/tradegothic/tradegothic1.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/tradegothic/tradegothic1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/tradegothic/tradegothic1.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'fa';
  src: url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.container .page-content img {
    max-width: 100%;
}

.container .page-content * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p20 {
    padding: 20px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.p30 {
    padding: 30px;
}

.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.mtb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.white {
    color: #fff;
}

.half-side {
    width: 49%;
}

.georgia {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.georgia-blue {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #00adf0;
}

.tradegothic {
    font-family: tradegothic;
}

.tradegothic-blue {
    font-family: tradegothic;
    color: #00adf0;
}

.tradegothic-bold {
    font-family: tradegothic1;
}

.tradegothic-bold-blue {
    font-family: tradegothic1;
    color: #00adf0;
}

.text-right {
    text-align: right !important; 
}

.page-content {
    margin-top: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.backgroud-container .container {
    max-width: 1482px;
}

.container > .page-content {
    max-width: 1290px;
}

.backgroud-container {
    max-width: 100%;
    background: #91ceeb url('images/bgr.jpg') top center/100% no-repeat;
}

@media (min-width: 1400px) {
    .backgroud-container {
        background: #91ceeb url('images/bgr.jpg') top center/1400px no-repeat;
    }
}

.top-container .row > .pull-right {
    width: 48%;
}

.top-container .row > .pull-right,
.top-container .row > .pull-left {
    position: relative;
}

.top-container .row > .calendar-container {
    background: transparent url("images/calendar-bgr1.png") no-repeat scroll 0 0 / 100% auto;
    min-height: 66vw;
    padding: 80px 60px;
    width: 51%;
}

.top-container .row > .calendar-container.open-fridge {
    background: transparent url('images/open-fridge.png') top center/100% no-repeat;
}

.top-container .row > .pull-right p {
    color: #00adf0;
    line-height: normal;
    font-family: tradegothic1;
    font-weight: 400;
    font-size: 1.3vw;
}

.top-container .row .pinned-imgs img {
    width: 49%;
}

.top-container .row a.more {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 14px;
    font-style: italic;
}

.top-container .row a.more:after {
    content: "";
    width: 46px;
    height: 19px;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -23px;
    background: url('images/arrow-down.png');
}

.top-container .slider {
    position: relative;
    padding: 15px 0;
}

img.milch-schnite-img {
    width: 60%;
}

.slider .slider-circle {
    width: 66px;
    height: 66px;
    position: relative;
    border: 2px dashed #fff;
    border-radius: 100%;
}

.slider .slider-button {
    position: absolute;
    top: -10px;
    left: 100%;
}

.slider .dash-line {
    width: 80%;
    position: absolute;
    top: 50%;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 30px 20px 30px;
    cursor: poiner;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.btn.btn-red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e63719+0,ff3838+0,f27043+100 */
    background: #e63719; /* Old browsers */
    background: -moz-linear-gradient(top,  #e63719 0%, #ff3838 0%, #f27043 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e63719 0%,#ff3838 0%,#f27043 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e63719 0%,#ff3838 0%,#f27043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63719', endColorstr='#f27043',GradientType=0 ); /* IE6-9 */
}

.more-div {
    position: absolute;
    left: 72%;
    bottom: 10%;
    width: 150px;
}

.btn.btn-red:hover,
.btn:hover {
    color: #fff;
    opacity: .9;
}

.btn.jetzt {
    background: transparent url('images/jetzt-btn-shadow.png') 0 0/cover no-repeat;
}

.calendar-container .calendar {
    width: 100%;
    position: relative;
}

.calendar-container .calendar img {
    max-width: 100%;
    width: 100%;
}

.calendar-container .calendar .calendar-icon {
    width: 12%;
    height: 16%;
    display: inline-block;
    position: absolute;
    top: 16%;
    left: 7%;
}

.calendar-container .calendar .calendar-icon.x-icon {
    background: url(images/x-icon.png) 50% 50%/cover no-repeat;
}

.calendar-container .calendar .calendar-icon.o-icon {
    background: url(images/o-icon.png) 50% 50%/cover no-repeat;
}

.tabbed-content {
    width: 90%; /*960px;*/
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.5);
}

.tabbed-content .tabs-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabbed-content .tabs-buttons {
    background-color: #f8fbfd;
}

.tabbed-content .tabs-buttons li {
    display: inline-block;
    position: relative;
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 20px;
    background-color: #f8fbfd;
    color: #00adf0;
    font-style: italic;
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

.tabbed-content .tabs-buttons li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background: transparent url('images/tab-border-hover.png') top right no-repeat;
}

.tabbed-content .tabs-buttons li:first-child:before {
    display: none;
}

.tabbed-content .tabs-buttons li.active,
.tabbed-content .tabs-buttons li:hover {
    cursor: pointer;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,00adf0+50,00adf0+100 */
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(top,  #b3dced 0%, #00adf0 50%, #00adf0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b3dced 0%,#00adf0 50%,#00adf0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b3dced 0%,#00adf0 50%,#00adf0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#00adf0',GradientType=0 ); /* IE6-9 */
}

.tabbed-content .tabs-content {
    position: relative;
    padding: 44px 120px;
    background: #f8fbfd;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 960px) {
    .tabbed-content .tabs-content {
        padding: 44px 20px;
    }
}

.contest-submission .tabs-content {
    color: #00adf0;
}

.contest-submission .tabs-content h2 {
    color: #00a4e8;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.contest-submission .tabs-content p {
    font-family: tradegothic;
}

.radio-btns > .pull-left,
.radio-btns > .pull-right {
    width: 49%;
}


/* ================ REG FORM ================== */

.reg-form form {
    font-family: 'tradegothic', sans-serif;
}

.reg-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.reg-form p {
    font-family: 'tradegothic';
}

.half-div {
    width: 50%;
}

.form-lable input[type="text"],
.form-lable input[type="password"] {
    padding: 13px;
    font-size: 12pt;
    margin: 10px 0px;
    color: #727272 !important;
    width: 95%;
    background: #e8edf4;
    border-radius: 5px;
    border-right: 2px solid #a9b4c3;
    border-bottom: none;
    border-left: none;
    border-top: 2px solid #a9b4c3;
}

.form-lable .col-1of4 {
    width: 74% !important;
}

.form-lable .col-2of4 {
    width: 25% !important;
}

.form-lable .col-2of4-margin {
    margin-left: -9px;
}

form p {
    color: #727272;
    font-size: 15px;
}

.form-lable label{
    font-size: 15px;
    color: #727272;
    line-height: 21px;
}

span.span-underline{
    text-decoration: underline;
}

.form-lable input[type="radio"] {
    display:none;
}

.form-lable input[type="radio"] + label:before{
    content:"";
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    background-color: #e8edf4;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 50%;
}

.form-lable label:before{
    content:"";
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

.form-lable input[type=radio]:checked + label:before {
    background: #abb6c4;
}



button.btn-form {
    background: #f27144;
    background: -moz-linear-gradient(top, #f27144 0%, #e53317 100%);
    background: -webkit-linear-gradient(top, #f27144 0%,#e53317 100%);
    background: linear-gradient(to bottom, #f27144 0%,#e53317 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27144', endColorstr='#e53317',GradientType=0 );
    width: 45%;
    vertical-align: middle;
    border-radius: 5px;
    height: 40px;
    margin: 30px 10px;
    outline: none;
    text-decoration: none;
    -webkit-box-shadow: 2px 8px 19px -10px rgba(0,0,0,1);
    -moz-box-shadow: 2px 8px 19px -10px rgba(0,0,0,1);
    box-shadow: 2px 8px 19px -10px rgba(0,0,0,1);
}

.btn-form span {
    margin: 0 !important;
    padding: 0 !important;
    color: #fff;
    font-size: 13pt;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.btn-form-login:hover,
.btn-form:hover {
    opacity: .9;
}

/* ================ END REG FORM ================== */


/* ================ LOGIN FORM ================== */

.half-div-login {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.half-div-login.link a {
    color: red;
    text-align: right;
}

.half-div-login.link-text a {
    color: #00adf0;
    text-align: center;
}

button.btn-form-login {
    background: #f27144;
    background: -moz-linear-gradient(top, #f27144 0%, #e53317 100%);
    background: -webkit-linear-gradient(top, #f27144 0%,#e53317 100%);
    background: linear-gradient(to bottom, #f27144 0%,#e53317 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27144', endColorstr='#e53317',GradientType=0 );
    width: 47%;
    vertical-align: middle;
    border-radius: 5px;
    margin: 40px auto 40px auto;
    height: 40px;
    -webkit-box-shadow: 2px 8px 19px -10px rgba(0,0,0,1);
    -moz-box-shadow: 2px 8px 19px -10px rgba(0,0,0,1);
    box-shadow: 2px 8px 19px -10px rgba(0,0,0,1);
    display: block;
}

.btn-form-login span {
    margin: 0 !important;
    padding: 0 !important;
    color: #fff;
    font-size: 13pt;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.half-div-login.link-button a {
    font-weight: 800;
    display: inline-block;
    font-family: georgia;
    color: #00acef;
    padding: 40px 0 20px 0 !important;
    font-style: italic;
}

.logo-position {
    width: 23%;
    margin: -24px auto;
    position: relative;
    top: -40px;
}

.form-container {
    min-height: 55vw !important;
}

.calendar.form-calenader {
    background: #e5f4fe;
    width: 100%;
    margin: 0 20px;
    padding: 20px;
}

.form-calenader p {
    color: #00adf0;
    text-align: center;
    font-size: 12pt;
}

p.form-calendar-text {
    font-weight: 800;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    margin: 0;
    padding: 0 10px;
}

form.form-calendar-label {
    background: #fff;
    width: 65%;
    border-radius: 5px;
    margin: 30px auto;
    padding: 10px;
    -webkit-box-shadow: -7px 7px 14px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: -7px 7px 14px -4px rgba(0,0,0,0.43);
    box-shadow: -7px 7px 14px -4px rgba(0,0,0,0.43);
}

form.form-calendar-label .half-div {
    padding: 10px 0;
}

form.form-calendar-label input[type="radio"] {
    display:none;
}

form.form-calendar-label input[type="radio"] + label:before{
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.22), 0px 1px 0px 0px rgba(255, 255, 255, .10);
    border: 3px solid #9cdff9;
    border-radius: 50%;
}
}

form.form-calendar-label label:before{
    content:"";
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

form.form-calendar-label input[type=radio]:checked + label:before {
    background: transparent;
    border: 4px solid #dadee4;
}

form.form-calendar-label label[checked] { font-weight: bold; background: #000 !important; }

button.btn-form-login.btn-calendar-form {
    margin: 0px auto 0px auto;
}

button.btn-form-login.btn-calendar-form span {
    color: #fff;
    font-weight: 800;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

.btn-close {
    padding: 5px 10px;
    text-align: right;
}

.btn-close a {
    color: #3CA1DB;
    font-size: 12pt;
    font-family: sans-serif;
}

img.img-right-form {
    margin-top: 100px;
}

@media (max-width: 960px) {
    .tabbed-content .tabs-buttons li {
        font-size: 18px;
    }
}

@media (max-width: 1280px) {   
    .form-calenader p {
        font-size: 10pt;
    }
       
    .calendar.form-calenader {
        padding: 10px 10px 20px 10px;
        margin: 0;
    }
    
    form.form-calendar-label {
        width: 100%;
    }
    
    button.btn-form-login {
        width: 80%;
    }
    
    .top-container .row > .calendar-container {
        padding: 8% 3% 7% 7%;
    }
}

/* ================ END LOGIN FORM ================== */



/* ================ MEIN LOSE ================== */

.mein-lose img.pull-left{
    width: 200px !important;
    top: -40px;
    right: 40px;
    position: relative;
}

.lose-img-title {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.lose-img-title h2 {
    display: inline-block;
    position: relative;
    right: 100px;
}

.icon-los{
    position: relative;
    width: 250px;
    margin: 0 auto;
    display: block;
    top: -70px;
}

p.los-text{
    font-family: tradegothic;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #00adf0;
}

span.los-title {
    font-weight: 800;
    font-size: 20pt;
}

button.btn-los {
    background: #2dcaf2;
    background: -moz-linear-gradient(top, #2dcaf2 0%, #2989d8 99%, #10a6e8 100%);
    background: -webkit-linear-gradient(top, #2dcaf2 0%,#2989d8 99%,#10a6e8 100%);
    background: linear-gradient(to bottom, #2dcaf2 0%,#2989d8 99%,#10a6e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dcaf2', endColorstr='#10a6e8',GradientType=0 );
    width: 25% !important; 
    margin: 0 auto;
    position: relative;
    display: block;
    height: 40px;
    border-radius: 5px;
    font-family: Georgia;
    color: #fff;
    font-style: italic;
}

button.btn-form.btn-los-logout.pull-right {
    width: 20%;
    position: relative;
    top: -70px;
    color: #fff;
    font-family: Georgia;
    font-style: italic;
    margin: 30px 10px 0 10px;
}

.tabs-content.second-tab {
    top: 20px;
}

.second-tab h2{
    text-align: center;
    margin-bottom: 20px;
}

.second-tab p{
    font-family: 'tradegothic';
}

img.icon-correct {
    width: auto !important;
    margin: 0 auto;
    display: block;
}

img.icon-los-1 {
    width: 50% !important;
    margin: 0 auto;
    display: block;
}

button.btn-form-login.btn-calendar-form span {
    color: #fff;
    font-family: Georgia;
    font-weight: 800;
    font-style: italic;
}

button.btn-calendar-los{
    width: 70%;
    position: relative;
    top: -30px;
}

.btn-los > i {
    margin-right: 10px;
}

button.btn-los-logout span:after {
    content: "";
    width: 22px;
    height: 20px;
    display: inline-block;
    background: url('images/logout-arrow.png') center right no-repeat;
    position: absolute;
    left: 80%;
    top: 50%;
    margin-top: -10px;
}

.main-los-second-text{
    text-align: center;
    padding: 0 20px;
    position: relative;
    top: -35px;
}

.fridge-products {
    position: relative;
}

.fridge-products img {
    width: 90%;
    margin: 0 0 0 10%;
}

.fridge-products button.btn-calendar-form {
    position: absolute;
    bottom: 50%;
    left: 15%;
}

/* ================ END MEIN LOSE ================== */

.help-block-error {
	/*font-size: 16pt;
	font-weight:bold;*/
	color: #EE3624;
}
