#tab-tipps ul {
    margin-right: 205px;
    margin-bottom: -5px;
}

#tab-tipps ul li {
    height: 45px;
}

.inselfinder .ui-tabs-nav li a {
    border: 1px solid #ccc;
    border-bottom: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.inselfinder .ui-tabs-nav li a:hover {
    border: 1px solid #01719C;
    border-bottom: none;
}

a.tab-btn {
    padding: 10px 1em 11px;
}

.ul-pos li.last span {
    padding-right: 30px;
}

.arrow-bar > ul > li span {
    padding: 10px 20px 10px 20px !important;
}

.with-child .select-field .item .blur {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f7dd', endColorstr='#e7f7dd',GradientType=1 );
}

.without-child .select-field .item .blur {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f1fe', endColorstr='#d0f1fe',GradientType=1 );
}

#wrapper {
    background-repeat: repeat-x;
}

.row-fluid.gradient-bgr {
    background-repeat: repeat-x;
}

#wrapper {
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-color: #e6f4ff;
}

.overlay-feedback {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#95FFFFFF,endColorstr=#95FFFFFF);
    zoom: 1;
}

.feedback-box {
    border: 1px solid #00ADF0;
    outline: 5px solid #fff;
}

.feedback-box textarea {
    width: 95% !important;
}
