/**
 * brandung SCSS boilerplate v2.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-09-23
 * MIT License (MIT)
 */
/**
 *	core variables and mixins
 *	- modify this for custom colors, font-sizes, etc
 */
/**
 * Calculate PX to EM
 *
 * @param {number} $targetPx - pixel value without unit
 *
 */
/**
 * Built a JSON like string with all given breakpoints and their values.
 * This is necessary for the JavaScript function 'function/get-breakpoint.js'
 * and 'function/assert-breakpoint.js'
 */
/**
 * Return specific breakpoint
 */
/**
 * Return specific color
 */
/**
 * Return specific Icon
 */
/**
 * brandung variables.scss v3.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2015-06-27
 * MIT License (MIT)
 */
/* base path */
/* Base sizes */
/* Body font size */
/* Grid */
/* <@breakpoints */
/* breakpoints@> */
/* Container width */
/* Grid Columns */
/* Colors */
/* <@colors */
/* colors@> */
/* Icons */
/* <@icons */
/* icons@> */
/* Font Style */
/**
 * brandung mixins.scss v2.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-09-23
 * MIT License (MIT)
 */
/* ==========================================================================
   Mixins
   ========================================================================== */
/**
 * Calculate percent value to given property
 *
 * @param {string} $cssProperty - which property
 * @param {number} $targetSize - element size in pixel
 * @param {number} $contextSize - context element size in pixel
 * @param {boolean} $important - set !important property
 *
 */
/**
 * Calculate PX font size to REM
 *
 * - add PX fallback for older browser
 *
 * @param {number} $size - element size in pixel
 * @param {number} $base - body font size in pixel
 *
 */
/**
 * Calculates given px value to rem value
 *
 * @param {string} $prop - css property name, e.g. font-size, line-height; Default: 'font-size'
 * @param {number} $size - size in px; Default: $body-font-size-px
 *
 */
/**
* Mixin for adding vendor prefixes to CSS attributes; useful for the following CSS attributes
*
* - border-radius
* - box-shadow
* - transition
* - transform
* - background-size
* - box-sizing
* - animate
*
* @param {string} $attribute - CSS attribute that needs vendor prefixes, e.g. border-radius or transition
* @param {string} $value - The specific CSS value, e.g. "translateX .2s ease-out"
*/
/**
* Clearfix
*/
/**
 * Webfont mixin for global use
 *
 * @param {string} $family - set the font-family value
 * @param {string} $fontWeight - set the font-family value
 * @param {string} $fontStyle - set the font-style value
 */
/**
* Mixin for adding hover transition
*
* @param {string} $colorFX - properties for color transition
* @param {string} $hoverColor - hover color
* @param {string} $backgroundFX - properties for backgrounf transition
* @param {string} $hoverBackground - hover background color
*/
/**
* Grid mixins
*
* Generate semantic grid columns with these mixins.
* based on the bootstrap-sass partial
*/
/**
 * normalize
 * https://github.com/necolas/normalize.css
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *	without disabling user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *	Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *	and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *	`input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/**
 * h5bp main.css
 * https://github.com/h5bp/html5-boilerplate
 */
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden, .contest-submission-progress span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .contest-submission-progress span.focusable:active,
.visuallyhidden.focusable:focus,
.contest-submission-progress span.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

/**
 * old-ie mixin
 * https://gridsetapp.com/
 */
/**
 * vendor utilities
 * - remove comment when mixin is needed
 */
/**
 * layout and grid
 * - brandung grid
 * - based on the bootstrap v3 gridset
 *
 * - brandung layout files
 * - here you can add new files if needed
 */
/**
 * brandung helpers.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-03-14
 * MIT License (MIT)
 */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.util-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.util-left {
    float: left;
}

.util-right {
    float: right;
}

.util-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.util-clear {
    clear: both;
}

.util-text-right {
    text-align: right;
}

.util-text-left {
    text-align: left;
}

.util-text-center {
    text-align: center;
}

.util-show-grid [class*="col-"] {
    background: grey;
    outline: 1px solid red;
}

.util-show-grid header {
    background: rgba(0, 128, 0, 0.5);
}

.util-show-grid footer {
    background: rgba(0, 255, 255, 0.5);
}

.util-reset-padding {
    padding: 0 !important;
}

.util-reset-padding-top {
    padding-top: 0 !important;
}

.util-reset-padding-right {
    padding-right: 0 !important;
}

.util-reset-padding-bottom {
    padding-bottom: 0 !important;
}

.util-reset-padding-left {
    padding-left: 0 !important;
}

.util-reset-padding-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.util-reset-padding-y {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.util-add-padding {
    padding: 15px !important;
}

.util-add-padding-full {
    padding: 30px !important;
}

.util-add-padding-double {
    padding: 60px !important;
}

.util-add-padding-top {
    padding-top: 15px !important;
}

.util-add-padding-top-full {
    padding-top: 30px !important;
}

.util-add-padding-top-double {
    padding-top: 60px !important;
}

.util-add-padding-right {
    padding-right: 15px !important;
}

.util-add-padding-right-full {
    padding-right: 30px !important;
}

.util-add-padding-right-double {
    padding-right: 60px !important;
}

.util-add-padding-bottom {
    padding-bottom: 15px !important;
}

.util-add-padding-bottom-full {
    padding-bottom: 30px !important;
}

.util-add-padding-bottom-double {
    padding-bottom: 60px !important;
}

.util-add-padding-left {
    padding-left: 15px !important;
}

.util-add-padding-left-full {
    padding-left: 30px !important;
}

.util-add-padding-left-double {
    padding-left: 60px !important;
}

.util-add-padding-x {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.util-add-padding-x-full {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.util-add-padding-x-double {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.util-add-padding-y {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.util-add-padding-y-full {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.util-add-padding-y-double {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.util-reset-margin {
    margin: 0 !important;
}

.util-reset-margin-top {
    margin-top: 0 !important;
}

.util-reset-margin-right {
    margin-right: 0 !important;
}

.util-reset-margin-bottom {
    margin-bottom: 0 !important;
}

.util-reset-margin-left {
    margin-left: 0 !important;
}

.util-reset-margin-x {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.util-reset-margin-y {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.util-reset-margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.util-add-margin {
    margin: 15px !important;
}

.util-add-margin-full {
    margin: 30px !important;
}

.util-add-margin-double {
    margin: 60px !important;
}

.util-add-margin-top {
    margin-top: 15px !important;
}

.util-add-margin-top-full {
    margin-top: 30px !important;
}

.util-add-margin-top-double {
    margin-top: 60px !important;
}

.util-add-margin-right {
    margin-right: 15px !important;
}

.util-add-margin-right-full {
    margin-right: 30px !important;
}

.util-add-margin-right-double {
    margin-right: 60px !important;
}

.util-add-margin-bottom {
    margin-bottom: 15px !important;
}

.util-add-margin-bottom-full {
    margin-bottom: 30px !important;
}

.util-add-margin-bottom-double {
    margin-bottom: 60px !important;
}

.util-add-margin-left {
    margin-left: 15px !important;
}

.util-add-margin-left-full {
    margin-left: 30px !important;
}

.util-add-margin-left-double {
    margin-left: 60px !important;
}

.util-add-margin-x {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.util-add-margin-x-full {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.util-add-margin-x-double {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.util-add-margin-y {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.util-add-margin-y-full {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.util-add-margin-y-double {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

/** + bootstrap visibility utilities */
.util-hidden,
.util-visible-xs,
.util-visible-sm,
.util-visible-md,
.util-visible-lg,
.util-visible-xl {
    display: none !important;
}

@media screen and (min-width: 20em) {
    .util-visible-xs {
        display: block !important;
    }
    span.util-visible-xs {
        display: inline !important;
    }
    .util-hidden-xs {
        display: none !important;
    }
}

@media screen and (min-width: 30em) {
    .util-visible-sm {
        display: block !important;
    }
    span.util-visible-sm {
        display: inline !important;
    }
    .util-hidden-sm {
        display: none !important;
    }
}

@media screen and (min-width: 48em) {
    .util-visible-md {
        display: block !important;
    }
    span.util-visible-md {
        display: inline !important;
    }
    .util-hidden-md {
        display: none !important;
    }
}

@media screen and (min-width: 62em) {
    .util-visible-lg {
        display: block !important;
    }
    span.util-visible-lg {
        display: inline !important;
    }
    .util-hidden-lg {
        display: none !important;
    }
}

@media screen and (min-width: 75em) {
    .util-visible-xl {
        display: block !important;
    }
    span.util-visible-xl {
        display: inline !important;
    }
    .util-hidden-xl {
        display: none !important;
    }
}

/**
 * modules
 */
/* Contest Break // Meine Pause */
.break-contest .cpe-box {
    display: none;
    text-align: left;
}

.break-contest .cpe-box ul li {
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 30px;
}

.break-contest .cpe-box ul li a {
    color: #00a4e8;
    text-decoration: underline;
}

.break-contest *, .break-contest *:before, .break-contest *:after {
    box-sizing: border-box;
}

.break-contest ul.nav a {
    box-sizing: content-box;
}

.break-contest #wrapper {
    overflow: hidden;
}

.break-contest #wrapper > article {
    background: #a6dbf1;
    background: linear-gradient(to bottom, #b8e2f5, #8bceec);
}

.break-contest #push {
    background: #8bceec;
}

.break-contest .fancybox-inner {
    overflow: visible !important;
}

.break-contest .fancybox-overlay {
    overflow-x: hidden !important;
}

@media screen and (max-width: 767px) {
    .break-contest #wrapper {
        background: #bedff4;
    }
    .break-contest #wrapper > article {
        background: none;
    }
    .break-contest #push {
        background: #bedff4;
    }
    .break-contest .contest-box:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .break-contest .lightbox-dir-btn--left {
        left: .25em;
    }
    .break-contest .lightbox-dir-btn--right {
        right: .25em;
    }
}

.content-box:after, .content-box__inner:after, .contest-groups-listing > ul:after, .contest-slider:after, .contest-gallery-listing > ul:after {
    display: table;
    content: ' ';
    clear: both;
}

.content-box {
    position: relative;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    background: linear-gradient(to bottom, #fefefe, #ebf3f6);
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5), 0 0 30px -10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
    .content-box--narrow-no-frame {
        border: 0 none;
        background: transparent;
        box-shadow: none;
    }
}

.fancybox-wrap .content-box {
    width: 960px;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .tabs--narrow-select + .content-box {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.content-box__inner {
    padding: 0 30px;
    background: #EFF2F6;
    background: url("../media/shine-white.png") right top no-repeat, linear-gradient(#eff2f6, #fff 80%);
}

.content-box__inner:before {
    display: table;
    content: '';
}

@media screen and (max-width: 767px) {
    .content-box__inner {
        padding: 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .content-box--narrow-no-frame .content-box__inner {
        padding-left: 0;
        padding-right: 0;
        background: none;
    }
}

.content-box__inner--vertical-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .content-box__inner--vertical-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.content-box__inner--vertical-padding-half {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .content-box__inner--vertical-padding-half {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .content-box--narrow-no-frame .content-box__inner {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.contest-box {
    margin: 40px 0 0;
    border-radius: 5px;
}

.contest-box--lightbox-contents {
    display: none;
}

@media screen and (min-width: 768px) {
    .contest-box--double-margin-lg {
        margin-top: 80px;
    }
}

.contest-box .tabs--in-box {
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5), 0 0 30px -10px rgba(0, 0, 0, 0.5);
}

.contest-box .tabs--in-box li {
    width: 33.44%;
}

@media screen and (max-width: 767px) {
    .contest-box .tabs--in-box {
        box-shadow: none;
    }
    .contest-box .tabs--in-box li {
        width: 100%;
    }
}

.break-contest h2 {
    color: #00adf0;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .break-contest h2 {
        font-size: 28px;
        line-height: 1.2;
    }
}

.contest-stage {
    position: relative;
    overflow: hidden;
    padding-top: 42.9166666667%;
}

@media screen and (max-width: 767px) {
    .contest-stage {
        padding: 59.1666666667% 0 0;
    }
}

@media screen and (min-width: 980px) {
    .contest-stage__inner {
        position: absolute;
        padding: 0 30px;
        top: 0;
        right: 0;
    }
}

.contest-stage .contest-headline {
    margin: 10% auto;
}

@media screen and (max-width: 767px) {
    .contest-stage .contest-headline {
        max-width: 80%;
    }
}

.contest-stage .btn-group {
    margin-top: 5%;
}

.contest-stage .btn-group li {
    vertical-align: bottom;
    text-align: center;
}

.contest-stage .cta-btn {
    min-width: 12em;
    white-space: nowrap;
}

.contest-stage__media {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    padding: 43.75% 0 0;
    background: #CFCBC8 url("../../media/die-milch-schnitte/contest/contest-stage.jpg") center top no-repeat;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .contest-stage__media {
        padding: 59.1666666667% 0 0;
        background-image: url("../../media/die-milch-schnitte/contest/contest-stage-mobile.jpg");
    }
}

.contest-headline {
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;
}

.contest-headline img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.contest-headline h2 {
    position: absolute;
    top: 100%;
}

.contest-headline--right {
    display: inline-block;
    text-align: right;
}

.contest-headline--smaller {
    max-width: 85%;
}

@media screen and (max-width: 767px) {
    .contest-detailview .contest-headline,
    .contest-done .contest-headline,
    .contest-infoform .contest-headline,
    .contest-text .contest-headline,
    .contest-upload .contest-headline {
        display: none;
    }
}

.contest-stage__spot-btn {
    position: absolute;
    bottom: 0;
    left: 5.5%;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.1;
    padding: 0 .5em;
    padding-bottom: 5%;
    margin: 0 auto -4%;
    border-radius: 5px 5px 0 0;
    background: #e63217;
    background: linear-gradient(#f46f42, #e63217);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding-top: 6px;
}

.contest-stage__spot-btn > span {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}

.contest-stage__spot-btn .tv-spot {
    font-size: 25px;
}

.remaining-btn-extension {
    position: relative;
    display: inline-block;
    font: inherit;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: .3em;
    padding-left: 2.2em;
    padding-bottom: 5%;
    margin: 0 auto -3%;
    transform: rotate(-5deg);
    box-shadow: 1px 3px 6px -1px rgba(0, 0, 0, 0.5), inset -1px 0 0 1px #fff;
    border-radius: 3px 3px 0 0;
    color: #f46f42;
    background: #fff;
    background: linear-gradient(to bottom left, #f5f5f5, #fff);
}

.remaining-btn-extension .remaining-btn__days {
    display: block;
    font-size: 1.2em;
}

.remaining-btn-extension:before {
    position: absolute;
    top: .125em;
    left: .125em;
    margin: auto;
    height: 2em;
    font-size: 2em;
    line-height: 1;
}

.remaining-btn-extension + .cta-btn {
    display: block;
}

@media screen and (max-width: 767px) {
    .remaining-btn-extension {
        font-size: 1.3em;
    }
}

.contest-instructions {
    margin: 5% 0 0;
}

.contest-instructions h2 {
    text-align: center;
}

.contest-image__container img {
    display: block;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .contest-image__container--knock-out-top-lg-15 {
        margin-top: -15%;
    }
}

@media screen and (max-width: 767px) {
    .contest-teaser {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .contest-teaser .contest-image__container {
        margin-bottom: 20px;
    }
}

.contest-steps {
    position: relative;
    vertical-align: top;
    text-align: justify;
    padding-top: 25%;
}

.contest-steps:before {
    content: '';
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding-top: 25.625%;
    background: url("../../media/die-milch-schnitte/contest/steps-full.png") center center no-repeat;
    background-size: 100% auto;
}

@media screen and (max-width: 767px) {
    .contest-steps:before {
        display: none;
        background: none;
    }
}

@media screen and (max-width: 767px) {
    .contest-steps {
        padding-top: 0;
    }
}

.contest-steps:after {
    display: inline-block;
    content: '';
    width: 99%;
}

.contest-step {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    padding: 0 20px;
}

.contest-step h3 {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .contest-step {
        margin-top: 5%;
        width: 100%;
    }
    .contest-step:before {
        display: block;
        margin: 0 auto;
        content: ' ';
        width: 100px;
        max-width: 100%;
        height: 100px;
        background: center center no-repeat;
        background-size: contain;
        box-sizing: content-box;
    }
}

.contest-step--photo:before {
    background-image: url("../../media/die-milch-schnitte/contest/step-photo.png");
}

.contest-step--upload:before {
    background-image: url("../../media/die-milch-schnitte/contest/step-upload.png");
}

.contest-step--price:before {
    background-image: url("../../media/die-milch-schnitte/contest/step-price.png");
}

.contest-submission {
    max-width: 765px;
    margin: 0 auto 20px;
}

.contest-detailview {
    padding: 0 1em;
}

@media screen and (max-width: 767px) {
    .contest-detailview {
        padding-top: 2em;
    }
    .contest-detailview .social-share-btn {
        width: 90%;
    }
    .contest-detailview .social-share-btn .shariff {
        bottom: 100%;
    }
}

.contest-detailview .shariff-button.whatsapp {
    display: none;
}

@media screen and (max-width: 767px) {
    .contest-detailview .shariff-button.whatsapp {
        display: block;
    }
}

.contest-detailview__headline {
    text-align: center;
    font-size: 1em;
    line-height: 1.1;
    margin: 20% auto 20px;
}

.contest-detailview__headline em {
    display: block;
    font-style: normal;
    font-size: 3em;
    line-height: 1;
    font-family: 'TradeGothic', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    .contest-detailview__headline em {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .contest-detailview__headline {
        margin: 5% 0;
    }
}

.dropzone__outer-wrapper {
    position: relative;
    margin: 0 20px 0 0;
    max-width: 325px;
}

@media screen and (max-width: 767px) {
    .dropzone__outer-wrapper {
        margin: 0 auto 20px;
        max-width: none;
    }
}

.dropzone {
    position: relative;
    padding: 0 0 100%;
    border-radius: 5px;
    background: #00adf0 url("../media/shine-small-cyan.png") right top no-repeat;
    box-shadow: 0px 3px 5px 0px rgba(94, 147, 170, 0.35), inset 0 0 5px 1px #00d2f7;
}

.dropzone:after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px;
    content: '';
    border: 4px dashed #fff;
    border-radius: inherit;
    z-index: 1;
    opacity: 0;
    transform: scale(1.1);
    visibility: hidden;
    pointer-events: none;
}

.dropzone.dropzone--dragover:after, .dropzone:hover:after {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transition: 300ms ease-out;
}

.dropzone__inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dropzone__fileinput-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 0;
}

.contest-submission-progress__wrapper {
    margin: 30px auto 0;
    padding: 10px 0;
    border: solid #e6e6e6;
    border-width: 1px 0;
}

.contest-submission-progress {
    max-width: 765px;
    margin: 0 auto;
    text-align: center;
    word-spacing: 0.25em;
    color: #00adf0;
}

.contest-submission-progress li {
    display: inline-block;
    padding-left: 1.55em;
    font-size: 1.5em;
}

.contest-submission-progress li:before {
    transform: scale(0.8);
}

.contest-submission-progress a,
.contest-submission-progress li,
.contest-submission-progress strong {
    position: relative;
    line-height: 1.375;
    color: inherit;
}

.contest-submission-progress a:before,
.contest-submission-progress li:before,
.contest-submission-progress strong:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.3em;
    height: 100%;
    text-align: center;
    line-height: inherit;
}

.contest-submission-progress a,
.contest-submission-progress strong {
    display: block;
    width: 1.3em;
    height: 1.1em;
    transition: color 100ms;
}

.contest-submission-progress a:hover,
.contest-submission-progress a:focus {
    color: #00d2f7;
}

.contest-submission-progress .active a, .contest-submission-progress .active strong {
    color: #ef3d2a;
}

@media screen and (max-width: 767px) {
    .contest-submission-progress__back {
        display: block;
    }
}

.contest-btn-select {
    width: 325px;
    max-width: 100%;
}

.dropzone__text {
    margin: 0 auto;
    padding: 5%;
    max-width: 285px;
    text-align: center;
    color: #fff;
}

.dropzone__text h2, .dropzone__text h3 {
    color: inherit;
}

.dropzone__text--default {
    display: block;
}

.dropzone--uploading .dropzone__text--default,
.dropzone--pending .dropzone__text--default {
    display: none;
}

.dropzone__text--uploading {
    display: none;
}

.dropzone--uploading .dropzone__text--uploading {
    display: block;
}

.dropzone__text--pending {
    display: none;
}

.dropzone--pending .dropzone__text--pending {
    display: block;
}

.dropzone__crop-outer-wrapper {
    position: relative;
    padding: 0 0 100%;
    margin: 0 0 20px;
    border-radius: 5px;
    transform: translateX(0, 0);
    transform: translate3d(0, 0, 0);
}

.dropzone__crop {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #e6e6e6 center center no-repeat;
    box-shadow: 0px 3px 5px 0px rgba(94, 147, 170, 0.35);
    transform: translateX(0);
    backface-visibility: hidden;
}

.dropzone__crop.dropzone__crop--loading {
    background-image: url("../media/sanduhr.png");
}

.js .dropzone__crop-image {
    opacity: 0;
}

.dropzone__crop--ready .dropzone__crop-image {
    opacity: 1;
    transition: opacity 300ms;
}

.crop-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.crop-controls li {
    display: inline-block;
    visibility: visible;
}

.crop-controls button {
    position: absolute;
    margin: auto;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    background: #00adf0 no-repeat top right;
    background-image: url("../media/shine-small-cyan.png");
    background-size: contain;
    box-shadow: 0 10px 13px -10px rgba(0, 0, 0, 0.5), 0 12px 13px -10px rgba(0, 0, 0, 0.5), 0 14px 13px -10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
    .crop-controls button {
        width: 35px;
        height: 35px;
        font-size: 25px;
        line-height: 35px;
    }
}

.crop-controls button:hover {
    transform: scale(1.05);
}

.crop-controls button:active {
    transform: scale(0.95);
}

.crop-controls button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    z-index: 2;
}

.crop-controls button span {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.crop-control--plus,
.crop-control--fit,
.crop-control--minus {
    top: -25px;
}

@media screen and (max-width: 767px) {
    .crop-control--plus,
    .crop-control--fit,
    .crop-control--minus {
        top: 5px;
    }
}

.crop-control--rotate-left,
.crop-control--rotate-right {
    bottom: -25px;
}

@media screen and (max-width: 767px) {
    .crop-control--rotate-left,
    .crop-control--rotate-right {
        bottom: 5px;
    }
}

.crop-control--rotate-right,
.crop-control--plus {
    right: -25px;
}

@media screen and (max-width: 767px) {
    .crop-control--rotate-right,
    .crop-control--plus {
        right: 5px;
    }
}

.crop-control--fit {
    right: 0;
    left: 0;
    margin: auto;
    background: red;
}

.crop-control--rotate-left,
.crop-control--minus {
    left: -25px;
}

@media screen and (max-width: 767px) {
    .crop-control--rotate-left,
    .crop-control--minus {
        left: 5px;
    }
}

body.guillotine-dragging, body.guillotine-dragging * {
    cursor: move !important;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
    cursor: grabbing, move;
    /* IE hack */
}

.guillotine-window {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    cursor: grab, move;
    /* IE hack */
}

.guillotine-canvas {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.guillotine-canvas > * {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.guillotine-sample {
    position: absolute !important;
    top: -100000px     !important;
    left: -100000px    !important;
    width: auto        !important;
    height: auto       !important;
}

.js .contest-upload__submit {
    display: none;
}

.contest-textinput {
    margin: 20px 0 0;
}

.contest-textinput textarea {
    display: block;
    width: 100%;
    padding: 3%;
    min-height: 3.5em;
    resize: none;
    border-radius: 5px;
    box-shadow: inset;
    background-color: #e8edf4;
    box-shadow: inset 0px 2px 2px 0 rgba(186, 194, 204, 0.9);
}

.contest-textinput__remaining {
    margin: 0 0 20px;
    padding: 5px 0;
    text-align: center;
    font-size: .9em;
    color: #a6a6a6;
}

.contest-textinput__remaining--error {
    color: red;
}

.contest-text__preview {
    position: relative;
    padding: 0 0 12%;
}

.contest-text__preview label {
    position: relative;
    display: block;
}

.contest-composed-image img {
    display: block;
    width: 100%;
}

.winner-label:before {
    content: '';
    width: 57px;
    height: 61px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 30px;
    background-size: 100% 100%;
}

@media (max-width: 980px) {
    .winner-label:before {
        right: 80px;
    }
}

@media (max-width: 767px) {
    .winner-label:before {
        width: 45px;
        height: 49px;
        top: -5px;
        right: 25px;
    }
}

@media (max-width: 320px) {
    .winner-label:before {
        width: 36px;
        height: 40px;
        top: -4px;
        right: 20px;
    }
}

.winner-label-jury:before {
    background-image: url("/fileadmin/template/media/label_rot_krone.png");
}

.winner-label-lottery:before {
    background-image: url("/fileadmin/template/media/label_blau_medaille.png");
}

.contest-composed-image__inner {
    margin: 0 -3.4285714286%;
    position: relative;
}

.contest-detailview__image-wrapper {
    max-width: 355px;
    margin: 0 auto 20px;
}

.contest-text__preview-image {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgba(94, 147, 170, 0.35);
}

.contest-text__preview-logo {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 68%;
    height: auto;
}

.contest-text__preview-caption-placeholder {
    position: absolute;
    right: 0;
    bottom: -12%;
    width: 100%;
    height: auto;
    right: -4%;
}

.contest-group {
    float: left;
    margin: 0 0 20px;
    width: 25%;
    padding: 0 20px;
    transform: translate3d(0, 0, 0);
    transition: 600ms, opacity 250ms;
}

.contest-group--will-appear {
    opacity: 0;
    transform: rotate(5deg) scale(0.9);
}

.contest-group--will-appear .contest-group__stack-image {
    transform: translate3d(0, 0, 0) !important;
}

@media screen and (max-width: 767px) {
    .contest-group {
        width: 50%;
    }
}

.contest-group__stack {
    position: relative;
    display: block;
    padding: 100% 0 0;
}

.contest-group__stack h4 {
    margin: 0;
    padding: 6% 0;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
    color: #00adf0;
}

.contest-group__stack-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 0 100%;
}

.contest-group__stack-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    transition: 400ms;
    border-radius: 3px;
}

.contest-group__stack-image:nth-of-type(n) {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.contest-group__stack-image:nth-of-type(1) {
    transform: rotate(6deg);
    opacity: .6;
}

.contest-group__stack-image:nth-of-type(2) {
    transform: rotate(-6deg);
    opacity: .8;
}

.contest-group__stack-image:nth-of-type(3) {
    transform: rotate(0.01deg);
}

.contest-group__stack:hover .contest-group__stack-image:nth-of-type(1),
.contest-group__stack:focus .contest-group__stack-image:nth-of-type(1) {
    transform: rotate(4deg);
}

.contest-group__stack:hover .contest-group__stack-image:nth-of-type(2),
.contest-group__stack:focus .contest-group__stack-image:nth-of-type(2) {
    transform: rotate(-4deg);
}

.contest-group__stack:hover .contest-group__stack-image:nth-of-type(3),
.contest-group__stack:focus .contest-group__stack-image:nth-of-type(3) {
    transform: rotate(0.01deg);
}

.contest-group__stack:active .contest-group__stack-image:nth-of-type(n) {
    transform: rotate(0.01deg);
    transition: 300ms;
}

.contest-featured-slider .flex-viewport {
    padding-top: 6px;
}

.contest-slider {
    position: relative;
    padding: 0 40px;
}

@media screen and (max-width: 767px) {
    .contest-slider {
        padding: 20px;
    }
}

.contest-slider .contest-slider__slide {
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    width: 33.33%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.contest-slider .contest-slider__slide img {
    width: 100%;
}

.js .contest-slider .contest-slider__slide {
    display: none;
}

.contest-slider .contest-composed-image {
    padding: 0 10px;
}

.contest-slider .contest-slider__slide-inner {
    display: block;
    padding: 0;
}

.contest-slider .dirnav-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

@media screen and (max-width: 767px) {
    .contest-slider .dirnav-btn {
        transform: translateY(-50%) scale(0.6);
        -webkit-transform: translateY(-50%) scale(0.6);
        -ms-transform: translateY(-50%) scale(0.6);
    }
}

.contest-slider .dirnav-btn--prev {
    left: 0;
}

.contest-slider .dirnav-btn--next {
    right: 0;
}

.contest-gallery-headline {
    text-align: center;
    margin: 0 0 20px;
}

.contest-gallery-headline h2 {
    margin: 0;
    padding: 0 10px;
}

.contest-gallery-headline__inner {
    position: relative;
    display: inline-block;
    padding: 0 1.5em;
}

.contest-gallery-headline__prev,
.contest-gallery-headline__next {
    position: absolute;
    bottom: 0;
    width: 1.5em;
    color: #00adf0;
}

.contest-gallery-headline__prev:hover, .contest-gallery-headline__prev:focus,
.contest-gallery-headline__next:hover,
.contest-gallery-headline__next:focus {
    color: #00d2f7;
}

.contest-gallery-headline__prev:before,
.contest-gallery-headline__next:before {
    display: block;
    font-size: 1.5em;
    line-height: 1.3;
    width: 100%;
    height: 100%;
    text-align: center;
}

.contest-gallery-headline__prev span,
.contest-gallery-headline__next span {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.contest-gallery-headline__prev {
    left: 0;
}

.contest-gallery-headline__next {
    right: 0;
}

.contest-gallery-listing > ul {
    display: flex;
    flex-wrap: wrap;
}

.contest-gallery-item {
    float: left;
    margin: 0 0 20px;
    width: 25%;
    padding: 0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 700ms, transform 600ms;
}

.contest-gallery-item--will-appear {
    opacity: 0;
    transform: translate3d(0, 25%, 0) scale(0.9);
}

.contest-gallery-item img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .contest-gallery-item {
        width: 50%;
    }
}

.contest-gallery-item__inner {
    display: block;
    padding: 0 5px 5%;
    position: relative;
}

.contest-prizes {
    margin: 3% 0 0;
}

.contest-prizes h2 {
    text-align: center;
}

.contest-prizes__text {
    padding: 0 20px;
}

.contest-prizes--desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .contest-prizes--desktop {
        display: block;
    }
}

.contest-prizes--smartphone {
    display: block;
}

@media screen and (min-width: 768px) {
    .contest-prizes--smartphone {
        display: none;
    }
}

.contest-prizes__text {
    margin: 2% 0 0;
}

.contest-prizes__text h3 .prize-marker {
    margin-right: .25em;
}

.prizes-map {
    position: relative;
    margin: 0 0 8%;
}

.prizes-map img {
    display: block;
    width: 100%;
}

.prizes-map .contest-markers,
.prizes-map .contest-markers li {
    margin: 0;
    padding: 0;
}

.prizes-map .prize-marker {
    position: absolute;
    top: 0;
    left: 0;
}

.prizes-map .btn-group {
    position: absolute;
    left: 0;
    bottom: -2%;
    width: 100%;
}

.prizes-map .btn-group li {
    margin-bottom: 0;
}

.prize-marker {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #00adf0 no-repeat;
    text-align: center;
    color: #fff;
    background-image: radial-gradient(150% 100% at 80% 0, rgba(255, 255, 255, 0.3) 50%, transparent 55%);
    box-shadow: 0 8px 13px -10px rgba(0, 0, 0, 0.6), 0 10px 13px -10px rgba(0, 0, 0, 0.5), 0 12px 13px -10px rgba(0, 0, 0, 0.4);
}

.prize-marker[href]:focus, .prize-marker[href]:hover {
    background-color: #00d2f7;
    transition: 200ms;
}

.prize-marker[href]:active {
    transform: scale(0.95);
}

.prize-marker:before,
.prize-marker i {
    position: relative;
    top: -.07em;
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
}

.prize-marker--big {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.prize-marker--small-font {
    font-size: .85em;
}

.prize-marker--red {
    background-color: #e53216;
}

.prize-marker--red[href]:focus, .prize-marker--red[href]:hover {
    background-color: #f46f42;
}

.prize-marker--info:before {
    content: 'i';
}

.prize-headline {
    line-height: 1;
}

.prize-headline.prize-red {
    color: #ed5841;
}

.prize-headline__amount {
    font-size: 1.5em;
    line-height: 0.6666666667em;
}

.prize__image {
    display: block;
    margin: 0 auto;
}

.error-text {
    font-weight: bold;
    margin-bottom: 30px;
}

.picker, .picker__holder {
    width: 100%;
    position: absolute;
}

.picker {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #000;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.picker__input {
    cursor: default;
}

.picker__input.picker__input--active {
    border-color: #0089ec;
}

.picker__holder {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: 1px solid #aaa;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    min-width: 176px;
    max-width: 466px;
    max-height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
    transform: translateY(-1em) perspective(600px) rotateX(10deg);
    transition: -webkit-transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;
    transition: transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;
}

/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
.picker__frame {
    padding: 1px;
}

.picker__wrap {
    margin: -1px;
}

.picker--opened .picker__holder {
    max-height: 25em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    border-top-width: 1px;
    border-bottom-width: 1px;
    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    transform: translateY(0) perspective(600px) rotateX(0);
    transition: -webkit-transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;
    transition: transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;
    box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
}

.picker__footer, .picker__header, .picker__table {
    text-align: center;
}

.picker__day--highlighted, .picker__select--month:focus, .picker__select--year:focus {
    border-color: #0089ec;
}

.picker__box {
    padding: 0 1em;
}

.picker__header {
    position: relative;
    margin-top: .75em;
}

.picker__month, .picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
}

.picker__year {
    color: #999;
    font-size: .8em;
    font-style: italic;
}

.picker__select--month, .picker__select--year {
    border: 1px solid #b7b7b7;
    height: 2em;
    padding: .5em;
    margin-left: .25em;
    margin-right: .25em;
}

.picker__select--month {
    width: 35%;
}

.picker__select--year {
    width: 22.5%;
}

.picker__nav--next, .picker__nav--prev {
    position: absolute;
    padding: .5em 1.25em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    top: -.25em;
}

.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em;
}

.picker__nav--next {
    right: -1em;
    padding-left: 1.25em;
}

@media (min-width: 24.5em) {
    .picker__select--month, .picker__select--year {
        margin-top: -.5em;
    }
    .picker__nav--next, .picker__nav--prev {
        top: -.33em;
    }
    .picker__nav--prev {
        padding-right: 1.5em;
    }
    .picker__nav--next {
        padding-left: 1.5em;
    }
}

.picker__nav--next:before, .picker__nav--prev:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .75em solid #000;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: .75em solid #000;
}

.picker__nav--next:hover, .picker__nav--prev:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
}

.picker__nav--disabled, .picker__nav--disabled:before, .picker__nav--disabled:before:hover, .picker__nav--disabled:hover {
    cursor: default;
    background: 0 0;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5;
}

.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover {
    color: #000;
    cursor: pointer;
    background: #b1dcfb;
}

.picker__table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em;
}

@media (min-height: 33.875em) {
    .picker__table {
        margin-bottom: .75em;
    }
}

.picker__table td {
    margin: 0;
    padding: 0;
}

.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999;
    font-weight: 500;
}

@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em;
    }
}

.picker__day {
    padding: .3125em 0;
    font-weight: 200;
    border: 1px solid transparent;
}

.picker__day--today {
    position: relative;
}

.picker__day--today:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: .5em solid #0059bc;
    border-left: .5em solid transparent;
}

.picker__day--disabled:before {
    border-top-color: #aaa;
}

.picker__day--outfocus {
    color: #ddd;
}

.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover {
    background: #0089ec;
    color: #fff;
}

.picker--focused .picker__day--disabled, .picker__day--disabled, .picker__day--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default;
}

.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover {
    background: #bbb;
}

.picker__button--clear, .picker__button--close, .picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: .66em 0;
    font-weight: 700;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
}

.picker__button--clear:hover, .picker__button--close:hover, .picker__button--today:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
    border-bottom-color: #b1dcfb;
}

.picker__button--clear:focus, .picker__button--close:focus, .picker__button--today:focus {
    background: #b1dcfb;
    border-color: #0089ec;
    outline: 0;
}

.picker__button--clear:before, .picker__button--close:before, .picker__button--today:before {
    position: relative;
    display: inline-block;
    height: 0;
}

.picker__button--clear:before, .picker__button--today:before {
    content: " ";
    margin-right: .45em;
}

.picker__button--today:before {
    top: -.05em;
    width: 0;
    border-top: .66em solid #0059bc;
    border-left: .66em solid transparent;
}

.picker__button--clear:before {
    top: -.25em;
    width: .66em;
    border-top: 3px solid #e20;
}

.picker__button--close:before {
    content: "\D7";
    top: -.1em;
    vertical-align: top;
    font-size: 1.1em;
    margin-right: .35em;
    color: #777;
}

.picker__button--today[disabled], .picker__button--today[disabled]:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default;
}

.picker__button--today[disabled]:before {
    border-top-color: #aaa;
}
