/*startsite ==================================================================*/
.schnittentest--light {
    color: #0ea4e7;
}

.product-teaser__content-wrapper .h2__schnittentest--large {
    font-size: 36px;
    line-height: 38px;
}

.h2__schnittentest--small {
    font-size: 28px;
}

.schnittentest-manual {
    width: 900px;
}

.margin-0-auto {
    margin: 0 auto;
}

.margin-top-large {
    margin-top: 30px;
}

.margin-top-small {
    margin-top: 10px;
}

/*prompt view to request gender ==============================================*/
.gender-prompt {
    display: none;
    z-index: 1001;
    position: absolute;
    margin: 0 auto;
    top: 200px;
    left: 0;
    right: 0;
    width: 325px;
    height: 150px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

/*actual schnittentest =======================================================*/
.padding-right-10 {
    padding-right: 10px;
}

.schnittentest-image-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* TODO reposition btn position when sizes of real images are known */
.schnittentest-nein-btn {
    position: absolute;
    left: 100px;
    top: 150px;
    padding-right: 10px;
}

.schnittentest-ja-btn {
    position: absolute;
    right: 110px;
    top: 150px;
    padding-right: 10px;
}

.cta-btn.schnittentest-light-btn {
    background-image: linear-gradient(#00d1f7, #00aff0);
}

.schnittentest-thumbs-up {
    display: inline-block;
    width: 24px;
    height: 23px;
    margin-top: -5px;
    vertical-align: middle;
    background-image: url("/fileadmin/template/media/thumbs-up.png");
}

.schnittentest-thumbs-down {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-top: 5px;
    vertical-align: middle;
    background-image: url("/fileadmin/template/media/thumbs-down.png");
}

.schnittentest-wrapper {
    display: none;
    position: relative;
    width: 800px;
    height: 300px;
    padding-top: 50px;
    margin-bottom: 50px;
    /*to disable user selection which makes the swipe smoother*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schnittentest-wrapper__image {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* TODO set to size of real images */
    width: 228px;
    height: 228px;
    background-size: 100%;
}

.schnittentest-wrapper__image:hover {
    cursor: pointer;
}

.schnittentest-rotate-right {
    /*important is needed since the image rotation is applied by JS and
	therefore inline which can only be overwritten by important*/
    transform: rotate(30deg) scale(0.8) !important;
    transition: 1s;
    opacity: 0;
    left: 500px;
}

.schnittentest-rotate-left {
    /*important is needed since the image rotation is applied by JS and
	therefore inline which can only be overwritten by important*/
    transform: rotate(-30deg) scale(0.8) !important;
    transition: 1s;
    opacity: 0;
    right: 500px;
}

/*result =====================================================================*/
.schnittentest-result {
    display: none;
}

.schnittentest-repeat-icon {
    display: inline-block;
    width: 18px;
    height: 16px;
    vertical-align: middle;
    background-image: url("/fileadmin/template/media/repeat-icon.png");
}

.schnittentest-share-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-image: url("/fileadmin/template/media/share-icon.png");
}

.schnittentest-dropdown-container {
    display: inline-block;
}

.schnittentest-dropdown-container .schnittentest-dropdown {
    display: none;
}

.schnittentest-dropdown-container:hover .schnittentest-dropdown {
    display: block;
}

.schnittentest-result .schnittentest-description {
    width: 63%;
}

.schnittentest-result .product-teaser__content-wrapper {
    left: 4.5%;
    top: 60px;
    /* need to reset since original .product-teaser__content-wrapper has
	transformation to vertical align middle ( transform: translateY(-50%) ) */
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.schnittentest-result .cta-btn {
    color: white;
    vertical-align: top;
}

.schnittentest-white-text {
    color: white;
}

/*mobile =====================================================================*/
@media (max-width: 979px) {
    .product-teaser__content-wrapper .h2__schnittentest--large {
        font-size: 26px;
    }
    .gender-prompt {
        top: 160px;
        height: 120px;
    }
    .schnittentest-result .product-teaser__content-wrapper {
        top: 30px;
    }
    .schnittentest-manual {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .schnittentest-wrapper {
        width: 768px;
    }
}

@media (max-width: 639px) {
    .schnittentest-wrapper {
        width: 600px;
    }
    .product-teaser .h2__schnittentest--large {
        top: 0;
    }
    .schnittentest-startscreen .product-teaser__content-wrapper {
        top: 0;
    }
    body.survey .schnittentest-startscreen .product-teaser:after,
    body.survey .schnittentest-startscreen .product-teaser:before,
    body.survey .schnittentest-startscreen .product-teaser picture:after {
        content: none;
    }
    .schnittentest-nein-btn {
        top: inherit;
        bottom: -20px;
        left: 200px;
    }
    .schnittentest-ja-btn {
        top: inherit;
        bottom: -20px;
        right: 210px;
    }
    .schnittentest-result .product-teaser__content-wrapper {
        top: 0;
        padding-top: 0;
    }
    .schnittentest-result .h2__schnittentest--large {
        left: 0;
    }
}

@media (max-width: 479px) {
    .h2__schnittentest--small {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .schnittentest-startscreen .product-teaser__content-wrapper .h2__schnittentest--large {
        font-size: 22px;
    }
    .gender-prompt {
        width: inherit;
        padding: 10px 0;
    }
    .gender-prompt .h2__schnittentest--small {
        font-size: 24px;
    }
    .schnittentest-wrapper {
        width: 100%;
        padding-top: 0;
    }
    .schnittentest-nein-btn {
        width: 100px;
        left: 0;
    }
    .schnittentest-ja-btn {
        width: 100px;
        right: 0;
    }
    .schnittentest-rotate-right {
        transform: rotate(10deg) scale(0.8) !important;
        left: 0;
    }
    .schnittentest-rotate-left {
        transform: rotate(-10deg) scale(0.8) !important;
        right: 0;
    }
    .schnittentest-dropdown-container {
        width: 100%;
    }
    .schnittentest-result .cta-btn {
        width: 100%;
        text-align: center;
    }
    .schnittentest-result .h2__schnittentest--large {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
    }
    .schnittentest-result .product-teaser p {
        font-size: 16px;
        line-height: 18px;
        margin-top: 20px;
        margin-left: 10px;
    }
}
