input[type=checkbox] {
    visibility: visible;
}

.form-element {
    padding-right: 45px;
    margin-bottom: 10px;
}

.form-element label {
    font-weight: bold;
}

.form-element input[type=text], .form-element select {
    /*width: 319px;*/
    width: 100%;
    height: 32px;
    margin: 4px 0;
    padding: 0 0 0 22px;
    box-shadow: inset 1px 1px 9px -5px #000000;
    background-color: #fff;
}

.iaccept {
    max-width: 303px;
    margin: -2px 0 0 8px;
    float: left;
}

.form-checkbox, .form-checkbox h3 {
    display: inline;
    margin-right: 10px;
    font-size: 30px;
}

.form-checkbox {
    display: block;
    margin: 10px auto;
    width: 50%;
}

@media (max-width: 767px) {
    .form-checkbox, .form-checkbox h3 {
        font-size: 21px;
    }
    .form-checkbox {
        margin-bottom: 10px;
        margin-left: 70px;
        margin-top: 0px;
        width: auto;
    }
}

@media (max-width: 479px) {
    .form-checkbox {
        margin-left: 0px;
        text-align: center;
        width: auto;
    }
    .form-checkbox h3 {
        font-size: 18px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .form-checkbox h3 {
        font-size: 25px;
    }
}
