/**
 * Calculate PX to EM
 *
 * @param {number} $targetPx - pixel value without unit
 *
 */
@function pxToEm($targetPx) {
	// base em is 16px wide
	@return ($targetPx / 16) + 0em;
}

/**
 * Built a JSON like string with all given breakpoints and their values.
 * This is necessary for the JavaScript function 'function/get-breakpoint.js'
 * and 'function/assert-breakpoint.js'
 */
@function getBreakpointList() {
	$index: ();

	@each $point, $size in $breakpoint-list {
		$index: append($index, '"#{$point}": #{$size}', comma)
	}

	@return '{ #{$index} }';
}

/**
 * Return specific breakpoint
 */
@function point($breakpoint) {
	@return map-get($breakpoints, $breakpoint);
}

/**
 * Return specific color
 */
@function color($color) {
	@return map-get($colors, $color);
}

/**
 * Return specific Icon
 */
@function icon($icon) {
	@return map-get($icons, $icon);
}
