/**
 * brandung grid.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-09-23
 * MIT License (MIT)
 */


/* ==========================================================================
   Grid
   ========================================================================== */


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
	@include containerFixed();
	min-width: ($container-min-width / $body-font-size-px) + em;
	max-width: ($container-max-width / $body-font-size-px) + em;
}

// Row
//
// Rows contain and clear the floats of your columns.
.row {
	@include makeRow();
	margin-bottom: ($grid-gutter-width / 2)
}

// Columns
//
// Common styles for small and large grid columns

@include makeGridColumns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include makeGrid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@include respondMin(point('min-sm')) {
	@include makeGrid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@include respondMin(point('min-md')) {
	@include makeGrid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@include respondMin(point('min-lg')) {
	@include makeGrid(lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the extra-large desktop device range.

@include respondMin(point('min-xl')) {
	@include makeGrid(xl);
}