/**
 * brandung variables.scss v3.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2015-06-27
 * MIT License (MIT)
 */

/* base path */
$folder-path: '%%public%%/';

/* Base sizes */
$base-em: 16;

/* Body font size */
$body-font-size-px: 16;
$body-font-size: percentage(($body-font-size-px / $base-em) * 100 / 100); // in percent

/* Grid */
/* <@breakpoints */
$featurephone: 320;
$smartphone: 480;
$tablet: 768;
$desktop: 992;
$retina: 1200;
/* breakpoints@> */

$smartphone-max: 768px - 1px;

$breakpoint-list: (
	'xs': $featurephone,
	'sm': $smartphone,
	'md': $tablet,
	'lg': $desktop,
	'xl': $retina
);

$breakpoints: (
	'min-xs': pxToEm($featurephone),
	'min-sm': pxToEm($smartphone),
	'min-md': pxToEm($tablet),
	'min-lg': pxToEm($desktop),
	'min-xl': pxToEm($retina),
	'max-xs': pxToEm($smartphone - 1),
	'max-sm': pxToEm($tablet - 1),
	'max-md': pxToEm($desktop - 1),
	'max-lg': pxToEm($retina - 1)
);

/* Container width */
$container-max-width: $retina;
$container-min-width: $featurephone;

/* Grid Columns */
// Number of columns in the grid.
$grid-columns: 12 !default;
// Padding between columns.
$grid-gutter-width: 30px !default;
// Gets divided in half for the left and right.
$grid-gutter-width-half: $grid-gutter-width / 2;

/* Colors */
/* <@colors */
$colors: (
	'black': #000,
	'white': #fff,
	'grey': #666,
	'grey-dark': #333,
	'grey-light': #ccc,
	'grey-lightest': #fafafa,
	'placeholder': #999,
	'ci': #c00,
	'ci-hover': #a00,
	'error': #9e1726,
	'success': #10B044,
	'warning': #f0ad4e,
	'info': #2989D8
);
/* colors@> */

//colors
$color-keycolor-lighter: #00d2f7 !default;
$color-keycolor: #00adf0 !default;
$color-keycolor-darker: darken(#00adf0, .5) !default;
$color-keycolor-text: #00a4e8 !default;
$color-orange: #f46f42 !default;
$color-red: #e53216 !default;
$color-gray: #e6e6e6 !default;

/* Icons */
/* <@icons */
$icons: (
	dummy: '\e63c'
);
/* icons@> */

/* Font Style */
$ff-regular: 'Helvetica', Arial, sans-serif !default;