#tab-tipps ul {
   margin-right: 205px;
   height: 46px;
}


#tab-tipps ul > li {
   background-color: #fff;
   margin-left: 0;
   margin-right: 4px;
   display: inline !important;
   width: 120px;
   margin-top: -4px;
   height: 45px !important;
}

.inselfinder .ui-tabs-nav li a{
	width: 100%;
	text-align: center;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 10px 0;
	margin:0;
}

a.tab-btn {
	border: 1px solid #00ADF0;
	border-bottom: none;
	margin-top: -45px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.ranking-txt {
	padding-left: 0;
}


.ranking-txt table {
	margin-left: 1.2em;
}

.ul-pos {
	width:auto;
	display: inline;
}

.ul-pos li {
	padding: 0;
}

.ul-pos li.first {
	display: none;
}

.ul-pos li span:after,
.ul-pos li span:before { 
	display: none;
}

.ul-pos li span {
	padding: 10px 15px 10px 40px;
	background-image: url(../media/single-arrow-white-submit.png);
	background-repeat: no-repeat;
	background-position: 20px 12px;
}

.ul-pos li span.active {
	background-color: #01719C;
	background-image: url(../media/single-arrow-white-submit.png);
	background-repeat: no-repeat;
	background-position: 20px 12px;
}