body,
input[type=text], input[type=number],
select {
    font-family: 'TradeGothic', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 24px;
    color: #333;
}
p {
    margin-bottom: 24px;
}
h2 {
    color: #01719c;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    line-height: 44px;
    margin-top: 20px;
}
/*
	Spielefinder
*/
.mag_ich_anzahl,
.social-wrapper {
	display: none;
}

.spiel-inner .top-wrapper img {
    position: absolute;
    top: 80px;
    right: 0;
}
