.btn-group {
	display: block;
	margin: 1em 0 0;
	padding: 0;
	word-spacing: 1em;

	li {
		display: inline-block;
		margin: 0 0 1em;
		word-spacing: normal;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}
	}
}

.btn-group--centered {
	text-align: center;
}

.btn-group--fullwidth {
	a,
	li,
	button,
	label {
		display: block;
		width: 100%;
	}
}

.btn-group--min-width {
	a,
	button,
	label {
		width: 13em;
		max-width: 100%;
	}
}

.btn-group--full-width-mobile {
	
	@media (max-width: 979px) {
		li {
			display: block;
		}

		a {
			display: block;
			width: 100%;
		}
	}
	
}

.btn-shadow-wrapper {
	position: relative;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		top: 100%;
		bottom: -15px;
		width: 100%;
		background-color: green;
		background: url('../media/btn-fancy-shadow.png') center bottom no-repeat;
		background-size: 100% 100%;
		pointer-events: none;
	}
}

.cta-btn {
	position: relative;
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 2.6;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 0px 35px 0px 13px;
	background: #e63217;
	background: linear-gradient(#f46f42, #e63217);
	border-radius: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@media (max-width: 979px) {
		font-size: 15px;
		padding-right: 27px;
	}
	
	&:focus,
	&:hover {
		color: #fff;
		background: #f46f42;
		background: linear-gradient(#f46f42, hsl(8, 85%, 45%));
	}

	&:active {
		transform: scale(.99);
	}

	&[disabled] {
		background: #aaa;
		background: linear-gradient(#ccc, #888);
	}

	&.disabled:hover {
		background: #e53216;
	}

	&.toggle {
		padding-right: 40px;

		@media (max-width: 979px) {
			padding-right: 36px;
		}
	}
	
	//for inline icons on text centered buttons
	//icons left
	&.fa {
		&:before {
			display: inline-block;
			margin-right: .33em;
		}
	}
	//icons right with sub span with class fa + fa-ICONNAME
	.fa {
		&:before {
			display: inline-block;
			margin-left: .33em;
		}
	}

	.btn-group & {
		padding: 0 1em;
	}
}

.cta-btn--secondary {
	background: #00aff0;
	background: linear-gradient(#00d1f7, #00aff0);

	&:hover,
	&:focus {
		background: #00d1f7;
		background: linear-gradient(#31DFFF, #00aff0);
	}
}

.cta-btn--tertiary {
	background: #cee9f5;
	background: linear-gradient(#cee9f5, #a7d5eb);
	color: #0677a5;

	&:hover,
	&:focus {
		background: #cee9f5;
		background: #cee9f5 linear-gradient(#a7d5eb, #cee9f5);
		color: #0677a5;
	}
}

/* old cta button style (legacy) */
.cta-btn--flat {
	background: #e53216;
	border-radius: 0;

	&:hover,
	&:focus {
		color: #fff;
		background: #ff3300;
	}

	&.disabled {

		&:hover,
		&:focus {
			background: #e53216;
		}
	}
}

//text button
.text-btn {
	position: relative;
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	color: #ef3d2a;
	text-decoration: none;
	padding: 0px .5em;

	&.fa {
		&:before {
			display: inline-block;
			margin-right: .125em;
			font-size: .9em;
		}
	}
}

//share button
.cta-btn.social-share-btn {
	position: relative;
	text-align: left;
	border-radius-bottom-left: 0;
	border-radius-bottom-right: 0;

	.shariff {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		text-align: left;
		background: none;
		background-color: inherit;
		border-radius: inherit;

		a {
			height: auto;
		}

		.orientation-vertical {
			li {
				height: auto;
				margin: 0;
			}
		}
	}

	&:hover {
		.shariff {
			display: block;
		}
	}

	.shariff-button {
		background: none;

		a {
			background-color: transparent;
			color: #0677a5;
			border-top: 1px solid #97d4e9;
			padding: 5px 13px;

			&:hover {
				background: rgba(#000, .05);
			}
		}

		.share_text {
			font-size: 20px;
			padding-left: 20px;
			font-family: 'TradeGothic', Arial, Helvetica, sans-serif;
			font-style: normal;
		}

		.fa {
			font-size: 24px;
		}

		.fa-google-plus {
			background-image: url('../media/sprite2.png');
			background-size: 500px 500px;
			background-position: -469px 3px;
			height: 24px;

			&:before {
				content: '';
			}
		}
	}
}

//close button for a lightbox eg.
.close-btn {
	display: block;
	width: 2em;
	height: 2em;
	background: url('/fileadmin/media/product/btn-close.png') center center no-repeat;
	// background-size: contain;

	&:hover,
	&:focus {
		opacity: 0.9;
	}

	&:active {
		transform: scale(.95);
	}
}

//slider buttons or something
.dirnav-btn {
	display: inline-block;

	.arrow {
		position: relative;
		display: block;
		top: 0;
		left: 0;
		margin: 0;
	}
}

/* arrows (legacy) */
a {

	.arrow {
		width: 13px;
		height: 21px;
		position: absolute;
		top: 10px;
		right: 12px;
		background-position: -53px -260px;
	}

	.arrow--left {
		background-position: -11px -260px;
	}

	.arrow--down {
		width: 21px;
		background-position: -89px -260px;
	}

	.arrow.arrow--blue {
		background-position: -53px -206px;
	}

	.arrow--left.arrow--blue {
		background-position: -11px -206px;
	}

	.arrow--down.arrow--blue {
		width: 21px;
		background-position: -89px -206px;
	}

	.arrow.arrow--big {
		background-image: url(../media/sprite2.png);
		height: 80px;
		width: 31px;
		background-position: -457px -304px;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		background-size: 500px 500px;

		&.arrow--left {
			background-position: -395px -304px;
		}
	}
}

a {

	&.toggle {

		.arrow {
			width: 21px;
			height: 14px;
			top: 15px;
			right: 12px;
			background-position: -89px -266px;
		}

		&.active .arrow {
			background-position: -129px -266px;
		}

		.toggle-close {
			display: none;
		}

		&.active .toggle-close {
			display: inline-block;
		}
	}

	&.more-btn {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 3;
		text-indent: -9999px;
		background: url(../media/single-arrow-white.png) no-repeat 0px -1000px;

		.arrow {
			position: absolute;
			top: auto;
			right: 11px;
			bottom: 12px;
		}
	}
}

.disabled {
	cursor: default;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
}