.mag_ich_anzahl {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #e7340b;
	font-size: 28px;
	padding-left: 15px;
	white-space: nowrap;
	display: inline-block;
	i {
		color: inherit;
	}
	.mag_ich_anzahl_inner {
		font-size: 35px;
		color: inherit;
	}
}

.backen {
	.mag_ich_anzahl {
		margin-top: 12px;
		color: #e7340b !important;
	}
}