/*
 * Fancybox styles (legacy)
 * (new styles below)
 */

.fancybox-skin {
	background: transparent;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}

.fancybox-prev {
	background: url('../../../fileadmin/template/fancybox/source/helpers/arrow_left.png') no-repeat 0% 42%;
}

.fancybox-next {
	background: url('../../../fileadmin/template/fancybox/source/helpers/arrow_right.png') no-repeat 100% 42%;
}

.fancybox-opened .fancybox-title {
	display: none;
}

.framed .fancybox-close {
	background: url('../../../fileadmin/template/fancybox/source/helpers/close.png') no-repeat;
	top: -2px;
	right: 0px;
}

@media (max-width: 767px), screen and (max-height: 883px) {
	.fancybox-prev {
		background-position: 109px 100px;
	}

	.fancybox-next {
		background-position: 58px 100px;
	}
}

@media (max-width: 402px), screen and (max-height: 366px) {

	.fancybox-close {
		top: -28px;
		right: -38px;
	}

}

@media (max-width: 767px) {

	.fancybox-nav {
		display: none;
	}

}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {

	.fancybox-opened .fancybox-title {
		position: absolute;
		top: 3px;
		left: 20px;
		display: block;
		color: #01719c;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-style: italic;
		font-weight: bold;
		font-size: 16px;
		width: 75%;
		height: 43px;
		overflow: hidden;
	}

}

/*
 * Fancybox styles (new)
 */

.fancybox-error {
	width: 500px;
	height: 400px;
	max-width: 100%;
	border: red;
	padding: 1em;
	color: #333;
	background: #fff;
}

.lightbox-dir-btn {
	position: absolute;
	display: block;
	margin: 0;
	top: 50%;
	transform: translateY(-50%);

	@media screen and (max-width: $smartphone-max) {
		top: 0;
		margin: 50% 0 0;
		transform: scale(.5) translateY(-50%);
		-webkit-transform: scale(.5) translateY(-50%);
		-ms-transform: scale(.5) translateY(-50%);
	}

	span {
		position: relative;
		display: block;
		margin: 0;
		top: 0;
		left: 0;
	}

	&--left {
		left: 1em;
	}

	&--right {
		right: 1em;
	}
}

.lightbox-close-btn {
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
}