/* Contest Break // Meine Pause */

$tablet-min: 768px !default;
$smartphone-max: 768px - 1px !default;


.break-contest {

	.cpe-box {
		display: none;
		text-align: left;
		ul li {
			list-style-type: square;
			margin-bottom: 10px;
			margin-left: 30px;
			a {
				color: #00a4e8;
				text-decoration: underline;
			}
		}
	}

	* {
		&,
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}

	ul.nav {
		a {
			box-sizing: content-box;
		}
	}

	#wrapper {
		overflow: hidden;

		> article {
			background: #a6dbf1;
			background: linear-gradient(to bottom, #b8e2f5, #8bceec);
		}
	}


	//this element needs to be removed from all pages
	#push {
		background: #8bceec;
	}

	.fancybox-inner {
		overflow: visible !important;
	}

	.fancybox-overlay {
		overflow-x: hidden !important;
	}

	@media screen and (max-width: $smartphone-max) {
		#wrapper {
			background: #bedff4;

			> article {
				background: none;
			}
		}

		#push {
			background: #bedff4;
		}

		.contest-box:first-child {
			margin-top: 0;
		}
	}

	@media screen and (max-width: $smartphone-max) {
		.lightbox-dir-btn--left {
			left: .25em;
		}

		.lightbox-dir-btn--right {
			right: .25em;
		}
	}
}

//move to general layout boxes

%clearfix {
	&:after {
		display: table;
		content: ' ';
		clear: both;
	}
}

//new content box
.content-box {
	@extend %clearfix;
	position: relative;
	padding: 4px;
	border-radius: 5px;
	background: #fff;
	background: linear-gradient(to bottom, #fefefe, #ebf3f6);
	box-shadow:
		0 0 10px -3px rgba(#000, .5),
		0 0 30px -10px rgba(#000, .5)
	;

	//remove the background and borders on small resolutions
	&--narrow-no-frame {
		@media screen and (max-width: $smartphone-max) {
			border: 0 none;
			background: transparent;
			box-shadow: none;
		}
	}

	//content-box in lightbox
	.fancybox-wrap & {
		width: 960px;
		max-width: 100%;
	}

	.tabs--narrow-select + & {
		@media screen and (min-width: $tablet-min) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

.content-box__inner {
	@extend %clearfix;
	padding: 0 30px;
	background: #EFF2F6;
	background:
		url("../media/shine-white.png") right top no-repeat,
		linear-gradient(#eff2f6, #fff 80%)
	;

	&:before {
		display: table;
		content: '';
	}

	@media screen and (max-width: $smartphone-max) {
		padding: 0 15px;
	}

	.content-box--narrow-no-frame & {
		@media screen and (max-width: $smartphone-max) {
			padding-left: 0;
			padding-right: 0;
			background: none;
		}
	}

	&--vertical-padding {
		padding-top: 60px;
		padding-bottom: 60px;

		@media screen and (max-width: $smartphone-max) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	&--vertical-padding-half {
		padding-top: 30px;
		padding-bottom: 30px;

		@media screen and (max-width: $smartphone-max) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.content-box--narrow-no-frame & {
		@media screen and (max-width: $smartphone-max) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}


//contest modules and blocks

.contest-box {
	margin: 40px 0 0;
	border-radius: 5px;

	&--lightbox-contents {
		display: none;
	}

	&--double-margin-lg {
		@media screen and (min-width: $tablet-min) {
			margin-top: 80px;
		}
	}

	.tabs--in-box {
		box-shadow:
			0 0 10px -3px rgba(#000, .5),
			0 0 30px -10px rgba(#000, .5)
		;

		li {
			width: 33.44%;
		}

		@media screen and (max-width: $smartphone-max) {
			box-shadow: none;

			li {
				width: 100%;
			}
		}
	}
}

.break-contest h2 {
	color: #00adf0;
	margin-bottom: 20px;

	@media screen and (max-width: $smartphone-max) {
		font-size: 28px;
		line-height: 1.2;
	}
}

.contest-stage {
	position: relative;
	overflow: hidden;
	padding-top: ( (420 - 8) / 960 * 100%);

	@media screen and (max-width: $smartphone-max) {
		padding: (355 / 600 * 100%) 0 0;
	}

	&__inner {
		@media screen and (min-width: 980px) {
			position: absolute;
			padding: 0 30px;
			top: 0;
			right: 0;
		}
	}

	.contest-headline {
		margin: 10% auto;

		@media screen and (max-width: $smartphone-max) {
			max-width: 80%;
		}
	}

	//align bottom because of button extension
	.btn-group {
		margin-top: 5%;

		li {
			vertical-align: bottom;
			text-align: center;
		}
	}

	.cta-btn {
		min-width: 12em;
		white-space: nowrap;
	}
}

.contest-stage__media {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	padding: (420 / 960 * 100%) 0 0;
	background: #CFCBC8 url('../../media/die-milch-schnitte/contest/contest-stage.jpg') center top no-repeat;
	background-size: cover;

	@media screen and (max-width: $smartphone-max) {
		padding: (355 / 600 * 100%) 0 0;
		background-image: url('../../media/die-milch-schnitte/contest/contest-stage-mobile.jpg');
	}
}

.contest-headline {
	position: relative;
	overflow: hidden;
	margin: 0 auto 20px;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	h2 {
		position: absolute;
		top: 100%;
	}

	&--right {
		display: inline-block;
		text-align: right;
	}

	&--smaller {
		max-width: 85%;
	}

	.contest-detailview &,
	.contest-done &,
	.contest-infoform &,
	.contest-text &,
	.contest-upload & {
		@media screen and (max-width: $smartphone-max) {
			display: none;
		}
	}
}

.contest-stage__spot-btn {
	position: absolute;
	bottom: 0;
	left: 5.5%;
	color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.1;

	padding: 0 .5em;
	padding-bottom: 5%;
	margin: 0 auto -4%;
	border-radius: 5px 5px 0 0;

	background: #e63217;
	background: linear-gradient(#f46f42, #e63217);
	text-shadow: 0 1px 1px rgba(#000, .5);

	padding-top: 6px;

	//icon
	> span {
		display: block;
		margin: 0;
		text-align: center;
		font-size: 1.5em;
		// transform: scale(1.7);
	}

	.tv-spot {
		font-size: 25px;
	}
}

.remaining-btn-extension {
	position: relative;
	display: inline-block;
	font: inherit;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	line-height: 1;
	padding: .3em;
	padding-left: 2.2em;
	padding-bottom: 5%;
	margin: 0 auto -3%;
	transform: rotate(-5deg);
	box-shadow: 1px 3px 6px -1px rgba(#000, .5), inset -1px 0 0 1px #fff;
	border-radius: 3px 3px 0 0;
	// color: #e63217;
	color: #f46f42;
	background: #fff;
	background: linear-gradient(to bottom left, #f5f5f5, #fff);

	.remaining-btn__days {
		display: block;
		font-size: 1.2em;
	}

	&:before {
		position: absolute;
		top: .125em;
		left: .125em;
		margin: auto;
		height: 2em;
		font-size: 2em;
		line-height: 1;
	}

	//make button use next line
	+ .cta-btn {
		display: block;
	}

	@media screen and (max-width: $smartphone-max) {
		font-size: 1.3em;
	}
}

.contest-instructions {
	margin: 5% 0 0;

	h2 {
		text-align: center;
	}
}

.contest-image__container {

	img {
		display: block;
		margin: auto;
	}

	&--knock-out-top-lg-15 {
		@media screen and (min-width: $tablet-min){
			margin-top: -15%;
		}
	}
}

.contest-teaser {

	@media screen and (max-width: $smartphone-max) {
		text-align: center;
	}

	.contest-image__container {
		@media screen and (max-width: $smartphone-max) {
			margin-bottom: 20px;
		}
	}
}

.contest-steps {
	position: relative;
	vertical-align: top;
	text-align: justify;
	padding-top: 25%;

	&:before {
		content: '';
		top: 0;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		max-width: 800px;
		padding-top: 205 / 800 * 100%;
		background: url('../../media/die-milch-schnitte/contest/steps-full.png') center center no-repeat;
		background-size: 100% auto;

		@media screen and (max-width: $smartphone-max) {
			display: none;
			background: none;
		}
	}

	@media screen and (max-width: $smartphone-max) {
		padding-top: 0;
	}

	&:after {
		display: inline-block;
		content: '';
		width: 99%;
	}
}

.contest-step {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 30%;
	padding: 0 20px;

	h3 {
		margin: 0;
	}

	@media screen and (max-width: $smartphone-max) {
		margin-top: 5%;
		width: 100%;

		&:before {
			display: block;
			margin: 0 auto;
			content: ' ';
			width: 100px;
			max-width: 100%;
			height: 100px;
			background: center center no-repeat;
			background-size: contain;
			box-sizing: content-box;
		}
	}
}

.contest-step--photo {
	&:before {
		background-image: url('../../media/die-milch-schnitte/contest/step-photo.png');
	}
}
.contest-step--upload {
	&:before {
		background-image: url('../../media/die-milch-schnitte/contest/step-upload.png');
	}
}
.contest-step--price {
	&:before {
		background-image: url('../../media/die-milch-schnitte/contest/step-price.png');
	}
}

.contest-step__inner {
	// margin: 0 20px;
}

.contest-submission {
	max-width: 765px;
	margin: 0 auto 20px;
}

.contest-detailview {
	padding: 0 1em;

	@media screen and (max-width: $smartphone-max) {
		padding-top: 2em;

		.social-share-btn {
			width: 90%;
			.shariff {
				bottom: 100%;
			}
		}
	}

	.shariff-button.whatsapp {
		display: none;

		@media screen and (max-width: $smartphone-max) {
			display: block;
		}
	}
}

.contest-detailview__headline {
	text-align: center;
	font-size: 1em;
	line-height: 1.1;
	margin: 20% auto 20px;

	em {
		display: block;
		font-style: normal;
		font-size: 3em;
		line-height: 1;
		font-family: 'TradeGothic', Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
		text-transform: uppercase;
		word-wrap: break-word;
		@media screen and (max-width: $smartphone-max) {
			font-size: 1em;
		}
	}

	@media screen and (max-width: $smartphone-max) {
		margin: 5% 0;
	}
}

.dropzone__outer-wrapper {
	position: relative;
	margin: 0 20px 0 0;
	max-width: 325px;

	@media screen and (max-width: $smartphone-max) {
		margin: 0 auto 20px;
		max-width: none;
	}
}

.dropzone {
	position: relative;
	padding: 0 0 100%; //responsive ratio
	border-radius: 5px;
	background: $color-keycolor url('../media/shine-small-cyan.png') right top no-repeat;
	box-shadow:
		0px 3px 5px 0px rgba(94, 147, 170, 0.35),
		inset 0 0 5px 1px $color-keycolor-lighter
	;

	&:after {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 10px;
		content: '';
		border: 4px dashed #fff;
		border-radius: inherit;
		z-index: 1;
		opacity: 0;
		transform: scale(1.1);
		visibility: hidden;
		pointer-events: none;
	}

	&.dropzone--dragover,
	&:hover {
		&:after {
			visibility: visible;
			opacity: 1;
			z-index: 1;
			transform: scale(1);
			transition: 300ms ease-out;
		}
	}
}

.dropzone__inner {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.dropzone__fileinput-wrapper {
	position: absolute;
	overflow: hidden;
	top: 0;
	height: 0;
}

.contest-submission-progress__wrapper {
	margin: 30px auto 0;
	padding: 10px 0;
	border: solid $color-gray;
	border-width: 1px 0;
}

.contest-submission-progress {
	$submission-progress-icon-width: 1.3em;
	$submission-progress-icon-height: 1.1em;
	$icon-spacing: 0.5em;
	max-width: 765px;
	margin: 0 auto;
	text-align: center;
	word-spacing: -.25em + $icon-spacing;
	color: $color-keycolor;

	li {
		display: inline-block;
		padding-left: $submission-progress-icon-width + ($icon-spacing / 2);
		font-size: 1.5em;

		&:before {
			transform: scale(.8);
		}
	}

	//icons
	a,
	li,
	strong {
		position: relative;
		line-height: $submission-progress-icon-height / .8em;
		color: inherit;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: $submission-progress-icon-width;
			height: 100%;
			text-align: center;
			line-height: inherit;
		}
	}

	a,
	strong {
		display: block;
		width: $submission-progress-icon-width;
		height: $submission-progress-icon-height;
		transition: color 100ms;
	}

	a:hover,
	a:focus {
		color: $color-keycolor-lighter;
	}

	.active {
		a, strong {
			color: #ef3d2a;
		}
	}

	span {
		@extend .visuallyhidden;
	}
}

.contest-submission-progress__back {
	// display: none;

	@media screen and (max-width: $smartphone-max) {
		display: block;
	}
}

.contest-btn-select {
	width: 325px;
	max-width: 100%;
}

.dropzone__text {
	margin: 0 auto;
	padding: 5%;
	max-width: 285px;
	text-align: center;
	color: #fff;

	h2, h3 {
		color: inherit;
	}
}

.dropzone__text--default {
	display: block;

	.dropzone--uploading &,
	.dropzone--pending & {
		display: none;
	}
}

.dropzone__text--uploading {
	display: none;

	.dropzone--uploading & {
		display: block;
	}
}

.dropzone__text--pending {
	display: none;

	.dropzone--pending & {
		display: block;
	}
}


// *:focus {
// 	outline: 2px dashed red !important;
// 	outline-offset: 5px;
// }

//cropping
.dropzone__crop-outer-wrapper {
	position: relative;
	padding: 0 0 100%;
	margin: 0 0 20px;
	border-radius: 5px;
	transform: translateX(0,0);
	transform: translate3d(0,0,0);
}

.dropzone__crop {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: $color-gray center center no-repeat;
	box-shadow: 0px 3px 5px 0px rgba(94, 147, 170, 0.35);
	transform: translateX(0);
	backface-visibility: hidden;

	&.dropzone__crop--loading {
		background-image: url('../media/sanduhr.png');
	}
}

.dropzone__crop-image {
	.js & {
		opacity: 0;
	}

	.dropzone__crop--ready & {
		opacity: 1;
		transition: opacity 300ms;
	}
}

.crop-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		visibility: visible;
	}

	button {
		position: absolute;
		margin: auto;
		padding: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		z-index: 1;
		color: #fff;
		font-size: 30px;
		line-height: 50px;
		background: $color-keycolor no-repeat top right;
		background-image: url('../media/shine-small-cyan.png');
		background-size: contain;
		box-shadow:
			0 10px 13px -10px rgba(#000, .5),
			0 12px 13px -10px rgba(#000, .5),
			0 14px 13px -10px rgba(#000, .5)
		;

		@media screen and (max-width: $smartphone-max) {
			width: 35px;
			height: 35px;
			font-size: 25px;
			line-height: 35px;
		}

		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(.95);
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: #fff;
			font-size: inherit;
			line-height: inherit;
			text-align: center;
			z-index: 2;
		}

		span {
			position: absolute;
			overflow: hidden;
			width: 1px;
			height: 1px;
			clip: rect(0,0,0,0);
		}
	}
}

.crop-control--plus,
.crop-control--fit,
.crop-control--minus {
	top: -25px;

	@media screen and (max-width: $smartphone-max) {
		top: 5px;
	}
}

.crop-control--rotate-left,
.crop-control--rotate-right {
	bottom: -25px;

	@media screen and (max-width: $smartphone-max) {
		bottom: 5px;
	}
}

.crop-control--rotate-right,
.crop-control--plus {
	right: -25px;

	@media screen and (max-width: $smartphone-max) {
		right: 5px;
	}
}

.crop-control--fit {
	right: 0;
	left: 0;
	margin: auto;
	background: red;
}

.crop-control--rotate-left,
.crop-control--minus {
	left: -25px;

	@media screen and (max-width: $smartphone-max) {
		left: 5px;
	}
}

//guillotine widget
body.guillotine-dragging, body.guillotine-dragging * {
	cursor: move !important;
	cursor: -webkit-grabbing !important;
	cursor:    -moz-grabbing !important;
	cursor:         grabbing !important;
	cursor: grabbing, move;  /* IE hack */
}

.guillotine-window {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: move;
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:         grab;
	cursor: grab, move;  /* IE hack */
}

.guillotine-canvas {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.guillotine-canvas > * {
	position: absolute;
	top: 0;
	left: 0;
	max-width: none;
	max-height: none;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.guillotine-sample {
	position: absolute !important;
	top: -100000px     !important;
	left: -100000px    !important;
	width: auto        !important;
	height: auto       !important;
}

//contest upload
.contest-upload__submit {
	.js & {
		display: none;
	}
}

//contest text edit
.contest-textinput {
	margin: 20px 0 0;

	textarea {
		display: block;
		width: 100%;
		padding: 3%;
		min-height: 3.5em;
		resize: none;
		border-radius: 5px;
		box-shadow: inset;
		background-color: #e8edf4;
		box-shadow: inset 0px 2px 2px 0 rgba(186, 194, 204, 0.9);
	}
}

.contest-textinput__remaining {
	margin: 0 0 20px;
	padding: 5px 0;
	text-align: center;
	font-size: .9em;
	color: darken($color-gray, 25);
}

.contest-textinput__remaining--error {
	color: red;
}

.contest-text__preview {
	position: relative;
	padding: 0 0 12%;

	label {
		position: relative;
		display: block;
	}
}

.contest-composed-image {
	img {
		display: block;
		width: 100%;
	}
}

&.winner-label:before { // rename to something like winners-badge badge-jury
	content: '';
	width: 57px;
	height: 61px;
	display: inline-block;
	position: absolute;
	top: -6px;
	right: 30px;
	background-size: 100% 100%;

	@media (max-width: 980px) {
		right: 80px;
	}

	@media (max-width: $smartphone-max) {
		width: 45px;
		height: 49px;
		top: -5px;
		right: 25px;
	}

	@media (max-width: 320px) {
		width: 36px;
		height: 40px;
		top: -4px;
		right: 20px;
	}
}
&.winner-label-jury:before {
	background-image: url('/fileadmin/template/media/label_rot_krone.png');
}
&.winner-label-lottery:before {
	background-image: url('/fileadmin/template/media/label_blau_medaille.png');
}

.contest-composed-image__inner {
	margin: 0 (12px / 350px * 100% * -1); //overflow of rendered caption
	position: relative;
}

.contest-detailview__image-wrapper {
	max-width: 355px;
	margin: 0 auto 20px;
}

.contest-text__preview-image {
	overflow: hidden;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 3px 5px 0px rgba(94, 147, 170, 0.35);
}

.contest-text__preview-logo {
	position: absolute;
	top: 2%;
	left: 5%;
	width: 221 / 325 * 100%;
	height: auto;
}

.contest-text__preview-caption-placeholder {
	position: absolute;
	right: 0;
	bottom: -12%;
	width: 100%;
	height: auto;
	right: -4%;
}

////////////////
// Gallery
////////////////


//listing
.contest-groups-listing {

	> ul {
		@extend %clearfix;
	}
}

.contest-group {
	float: left;
	margin: 0 0 20px;
	width: 25%;
	padding: 0 20px;

	transform: translate3d(0, 0, 0);
	transition: 600ms, opacity 250ms;

	&--will-appear {
		opacity: 0;
		transform: rotate(5deg) scale(.9);

		.contest-group__stack-image {
			transform: translate3d(0,0,0) !important;
		}
	}

	@media screen and (max-width: $smartphone-max) {
		width: 50%;
	}
}

.contest-group__stack {
	position: relative;
	display: block;
	padding: 100% 0 0;

	h4 {
		margin: 0;
		padding: 6% 0;
		font-size: 1.2em;
		text-align: center;
		font-weight: normal;
		color: $color-keycolor;
	}
}

.contest-group__stack-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 0 100%;
}

.contest-group__stack-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color-gray;
	transition: 400ms;
	border-radius: 3px;

	&:nth-of-type(n) {
		// border: 1px solid rgba(#fff, .1);
		box-shadow: 0px 2px 3px 1px rgba(#000, 0.3);
	}

	&:nth-of-type(1) {
		transform: rotate(6deg);
		opacity: .6;
	}

	&:nth-of-type(2) {
		transform: rotate(-6deg);
		opacity: .8;
	}

	&:nth-of-type(3) {
		transform: rotate(0.01deg);
	}

	.contest-group__stack:hover &,
	.contest-group__stack:focus & {
		&:nth-of-type(1) {
			transform: rotate(4deg);
		}

		&:nth-of-type(2) {
			transform: rotate(-4deg);
		}

		&:nth-of-type(3) {
			transform: rotate(0.01deg);
		}
	}

	.contest-group__stack:active & {
		&:nth-of-type(n) {
			transform: rotate(0.01deg);
			transition: 300ms;
		}
	}
}

//featured slider
.contest-featured-slider {
	// margin-bottom: -30px;
	.flex-viewport {
		padding-top: 6px;
	}
}

.contest-slider {
	@extend %clearfix;
	position: relative;
	padding: 0 40px;


	@media screen and (max-width: $smartphone-max) {
		padding: 20px;
	}

	.slides {
		//...
	}

	.contest-slider__slide {
		float: left;
		margin: 0 0 0 0;
		padding: 0;
		width: 33.33%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		img {
			width: 100%;
		}

		.js & {
			display: none;
		}
	}

	.contest-composed-image {
		padding: 0 10px;
	}

	.contest-slider__slide-inner {
		display: block;
		padding: 0;
	}

	.dirnav-btn {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

		z-index: 5;

		@media screen and (max-width: $smartphone-max) {
			transform: translateY(-50%) scale(.6);
			-webkit-transform: translateY(-50%) scale(.6);
			-ms-transform: translateY(-50%) scale(.6);
		}

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}
	}

}

//daily gallery
.contest-gallery-headline {
	text-align: center;
	margin: 0 0 20px;

	h2 {
		margin: 0;
		padding: 0 10px;
	}
}

.contest-gallery-headline__inner {
	position: relative;
	display: inline-block;
	// background: red;
	padding: 0 1.5em; //space for prev/next buttons
}

.contest-gallery-headline__prev,
.contest-gallery-headline__next {
	position: absolute;
	bottom: 0;
	width: 1.5em;
	color: $color-keycolor;

	&:hover,
	&:focus {
		color: $color-keycolor-lighter;
	}

	&:before {
		display: block;
		font-size: 1.5em;
		line-height: 1.3;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	span {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0,0,0,0);
	}
}

.contest-gallery-headline__prev {
	left: 0;
}

.contest-gallery-headline__next {
	right: 0;
}

.contest-gallery-listing {

	> ul {
		display: flex;
		flex-wrap: wrap;
		@extend %clearfix;
		// perspective: 1000px;
		// perspective-origin: 50% 90%;
	}
}

.contest-gallery-item {
	float: left;
	margin: 0 0 20px;
	width: 25%;
	padding: 0;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 700ms, transform 600ms;

	&--will-appear {
		opacity: 0;
		transform: translate3d(0, 25%, 0) scale(.9);
	}

	img {
		display: block;
		margin: 0 auto;
	}

	@media screen and (max-width: 980px) {
		width: 50%;
	}
}

.contest-gallery-item__inner {
	display: block;
	padding: 0 5px 5%;
	position: relative;
}

//contest prizes
.contest-prizes {
	margin: 3% 0 0;

	h2 {
		text-align: center;
	}

	&__text {
		padding: 0 20px;
	}
}

.contest-prizes--desktop {
	display: none;

	@media screen and (min-width: $tablet-min) {
		display: block;
	}
}

.contest-prizes--smartphone {
	display: block;

	@media screen and (min-width: $tablet-min) {
		display: none;
	}
}

.contest-prizes__text {
	margin: 2% 0 0;

	h3 {
		.prize-marker {
			margin-right: .25em;
		}
	}
}

.prizes-map {
	position: relative;
	margin: 0 0 8%;

	img {
		display: block;
		width: 100%;
	}

	.contest-markers {
		&,
		li {
			margin: 0;
			padding: 0;
		}
	}

	.prize-marker {
		position: absolute;
		top: 0;
		left: 0;
	}

	.btn-group {
		position: absolute;
		left: 0;
		bottom: -2%;
		width: 100%;

		li {
			margin-bottom: 0;
		}
	}
}

.prize-marker {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: $color-keycolor no-repeat;
	text-align: center;
	color: #fff;
	background-image: radial-gradient(150% 100% at 80% 0, rgba(#fff, .3) 50%, transparent 55%);
	box-shadow:
		0 8px 13px -10px rgba(#000, .6),
		0 10px 13px -10px rgba(#000, .5),
		0 12px 13px -10px rgba(#000, .4)
	;

	&[href]:focus,
	&[href]:hover {
		background-color: $color-keycolor-lighter;
		transition: 200ms;
	}

	&[href]:active {
		transform: scale(.95);
	}

	&:before,
	i {
		position: relative;
		top: -.07em;
		display: block;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: bold;
		font-style: italic;
	}

	&--big {
		width: 45px;
		height: 45px;
		line-height: 45px;
	}

	&--small-font {
		font-size: .85em;
	}

	&--red {
		background-color: $color-red;

		&[href]:focus,
		&[href]:hover {
			background-color: $color-orange;
		}
	}

	&--info {
		&:before {
			content: 'i';
		}
	}
}

.price__image {

}

.prize-headline {
	line-height: 1;
	&.prize-red {
		color: lighten($color-red, 10%);
	}
}

.prize-headline__amount {
	font-size: 1.5em;
	line-height: (1em / 1.5);
}

.prize__image {
	display: block;
	margin: 0 auto;
}

.error-text {
	font-weight: bold;
	margin-bottom: 30px;
}