/* Product Page */

body {

    .small-margin-right {
        margin-right: 15px;
    }

    &.product {

        header {
            z-index: 10;
        }

        .bubbles {
            position: absolute;
            top: 150px;
            left: 0;
            width: 100%;
            height: 50%;
            background-image: url(../../media/product/bg.png);
            background-repeat: no-repeat;
            background-position: top center;
            z-index: 0;
        }
        
        .cta-btn {
            &.arrow--left {
                padding: 0px 13px 0px 35px;
            }

             .arrow--left {
                left: 12px;
            }
        }
        
        .center {
            width: 100%;
            margin: auto;
            padding-bottom: 40px;
            text-align: center;
            border-radius: 5px;
            background-image: url('../../../fileadmin/media/product/bg-zutaten-tabelle.jpg');
            background-repeat: no-repeat;
        }
        
        .collapsible {
            position: relative;
            padding: 40px 20px 15px;    
        
            &.zutatenliste {
                padding: 38px 40px 5px 49px;
                text-align: left;
                font-size: 22px;
                line-height: 29px;
                background-color: #c0e5f6;
                color: #10a7e8;
            }

            &.desktop {
                .nutrition-facts, .footnote {
                    display: none !important;
                }
            }

            &.mobile {
                padding: 0 17px 15px;
                margin-top: -25px;

                .nutrition-facts {
                    width: 100%;

                    tbody tr:first-child {
                        border-top: 1px solid #2fccf3;
                    }

                    tbody tr {
                        border-top: none;
                    }

                    .th-2 {
                        padding-top: 25px;
                        padding-bottom: 20px;
                    }

                    .tr-1 {
                        td {
                            padding-top: 13px;
                        }
                    }
                }
                .footnote {
                    text-align: center;
                    padding-left: 0;
                }
            }

        }
        
        .footnote {
            color: #bee4f6;
            text-align: left;
            padding-top: 20px;
            padding-left: 20px;
            font-size: 20px;
        }
        
        .mainteaser .second {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }
        
        .nutrition-facts {
            width: 95%;
            min-width: 480px;
            border-collapse: collapse;
            font-size: 20px;
            text-align: center;
            margin: auto;

            thead th {
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding-bottom: 10px;
            }

            tbody tr {
                border-top: 1px solid #2fccf3;
            }

            td {
                padding: 7px 0px;
                color: #fff;
            }

            .th-first,
            .td-first {
                text-align: left;
            }

            .tr-8 {
                border: none;
            }
        }

        .product-teaser {
            margin-top: 40px;
            margin-bottom: 60px;
        }
        
        .product-teaser__carousel-wrapper {
            position: absolute;
            top: 100px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

        .sortiment {
            .button {
                position: absolute;
                top: 42%;
                z-index: 100;
                display: block !important;

                &.left {
                    left: 55px;
                }

                &.right {
                    right: 0;
                }
            }
        }
        
        .product-teaser__carousel-caption {
            position: absolute;
            bottom: 0px;
            text-align: center;
            width: 100%;
            height: 70px;
            z-index: 110;
            color: #0ea4e7;
        }
        
        .product-teaser__content-wrapper {
        
            &.far-top {
                top: 0;
                margin-top: 50px;
                
                h2 {
                    font-size: 32px;
                    line-height: 36px;
                }
            }
            
            a {
                color: #fff;
            }
            
            &.sortiment {
                z-index: 10;
                margin-top: 30px !important;
            }
        }
        
        .product-teaser__arrow {
            position: absolute;
            top: 40%;
            z-index: 5;
            
            &.left {
                left: -30px;
                display: none;
            }
            
            &.right {
                right: -80px;
            }
            
            &.bottom {
                top: inherit;
                bottom: -10px;
                left: 47%;
            }
        }

        .ingredients__details {
            display: none;
        }

        .ingredients__slider {
            display: block;
        }

        .ingredients__slider {
            .slides {

                .slider__image {
                    height: 220px;
                    position: relative;
                }

                .slider__image:first-child {
                    height: initial;
                }

                .ingredients__all {
                    width: 100%;
                }

                .ingredients__honey {
                    margin-top: 65px;
                    width: 170px;
                }

                .ingredients__sugar {
                    margin-top: 105px;
                    width: 300px;
                }

                .ingredients__oil {
                    width: 120px;
                }

                .ingredients__milk {
                    width: 170px;
                    margin-top: 22px;
                }

                .ingredients__powder {
                    width: 290px;
                    margin-top: 80px;
                }

                .ingredients__egg {
                    margin-top: 100px;
                    width: 155px;
                }

                .ingredients__swipe {
                    position: absolute;
                    top: 27%;
                    width: 100%;

                    .swipe__button {
                        width: 81%;
                        margin: auto;
                        position: relative;
                        overflow: hidden;
                    }

                    .swipe__button-img {
                        max-height: 80px;
                    }

                    .swipe__button-shadow {
                        position: absolute;
                        max-height: 80px;
                        height: 100%;
                        top: 0;
                        right: -100px;
                        z-index: 200;
                    }
                }
            }
        }

        .product-teaser__ingredients {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            margin-left: 0;
            overflow: hidden;
            
            .cta-btn-ingredient {
                position: absolute;
                z-index: 220;
                display: none;
                pointer-events: none;
                
                .cta-btn {
                    padding: 0px 15px;
                }
            }
            
            .ingredients__honey {
                position: absolute;
                left: 760px;
                top: 250px;
                width: 170px;
                z-index: 10;
            }

            .ingredients__sugar {
                position: absolute;
                left: 640px;
                top: 343px;
                width: 210px;
                z-index: 210;
            }

            .ingredients__oil {
                position: absolute;
                left: 678px;
                top: 142px;
                width: 110px;
                z-index: 0;
            }

            .ingredients__milk {
                position: absolute;
                left: 410px;
                top: 47px;
                width: 255px;
                z-index: 0;
            }

            .ingredients__powder {
                position: absolute;
                left: 67px;
                top: 258px;
                width: 275px;
                z-index: 0;
            }

            .ingredients__egg {
                position: absolute;
                left: 290px;
                top: 320px;
                width: 130px;
                z-index: 205;
            }
        }

        .schon-gewusst {
            h2 {
                margin-bottom: 25px;
                font-size: 32px;
            }

            .cta-btn {
                margin-top: 35px;
            }

            span {
                font-size: 20px;
            }

            .schon-gewusst-slider {
                padding-top: 15%;
            }
        }
        
        .teaser-backen h2 {
            font-size: 25px;
        }
        
        .flying-element {
            position: absolute;
            top: 285px;
            left: 35%;
            z-index: 200;
        }
        
        .toggle-btn {
            margin-bottom: 0px;
            margin-top: -70px;
        }
        
        .zutaten {
            &.product-teaser__arrow {
                display: none;
                top: 260px;
            }

            .btn-close {
                position: absolute;
                top: 30px;
                right: 25px;
                z-index: 10;
                display: none;
            }
            
            .cta-btn {

                &.active {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }

                border-radius: 5px;
                background: #10a6e8;
                background: linear-gradient(#5ecee7, #10a6e8);
            
                &.zutatenliste {
                    background: #dbf0fa;
                    background: linear-gradient(#dbf0fa, #c0e5f6);
                    color: #10a7e8;
                    
                    .arrow {
                        background-image: url(../media/sprite.png);
                        background-position: -173px -264px;
                    }
                    
                    &.active {
                        
                        .arrow {
                            background-position: -207px -264px;
                        }
                    }
                }
            }
        }
               
        .zutaten__detail {
            display: none;
            z-index: 10;
            top: 270px;
        }

        @media (max-width: 1000px)  {

            .bubbles {
                display: none;
            }
            
            .product-teaser {
                width: 100%;
                margin-top: 0px;
                margin-bottom: 20px;
                border-radius: 5px;
                background: #fff;

                /*&:after, &:before {
                    background-image: none !important;
                }*/

                &.first, &.second {
                    picture:after {
                        background-image: none !important;
                    }
                }

                &.teaser-backen {

                    picture {
                        position: relative;
                    }

                    .product-teaser__content-wrapper {
                        position: absolute;
                        width: 46%;
                        top: 42%;
                        left: 0px;
                        font-size: 14px;
                        
                        h3 {
                            margin-top: 45px;
                        }
                    }
                }


                picture {
                    position: absolute;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
                
                .product-teaser__carousel-caption {
                    position: relative;
                    display: none;
                    height: initial;
                    padding-top: 140px;
                    padding-bottom: 30px;
                }
                
                .product-teaser__carousel-wrapper {
                    display: none !important;
                    width: 80%;
                    margin: auto;
                    top: initial;
                    left: initial;
                    position: relative;
                    height: 230px;
                }
                
                .product-teaser__content-wrapper {
                    position: relative;
                    
                    &.far-top {
                         margin: 74% 0 20px 0;
                         width: 100%;
                         left: 0;
                    }
                    
                    h2 {
                        top: initial;
                        margin: 30px 0;
                    }
                    
                    p {
                        top: initial;
                        width: 80%;
                        margin: auto;
                    }
                    
                    .cta-btn {
                        margin-top: 20px;
                    }
                    
                    &.sortiment {

                        h2 {
                            margin-bottom: 0;
                        }
                    }
                }

                &.schon-gewusst {

                    picture {
                        position: relative;

                        &:after {
                            background-image: none;
                        }
                    }

                    span {
                        font-size: 16px;
                        line-height: 21px;
                    }

                    .product-teaser__content-wrapper {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 0;
                        margin: auto;
                        
                        -webkit-transform: none;
                        -moz-transform: none;
                        -ms-transform: none;
                        -o-transform: none;
                        transform: none;
                    }
                }
                
                &.sortiment {
                    overflow: hidden;
                    min-height: 453px;
                    background-color: #ace0f6;

                    picture {
                        position: relative;

                        img {
                            margin-top: 10%;
                        }
                    }

                    .button {
                        display: none !important;
                    }
                }

                picture:after {
                    background-size: contain;
                    bottom: -13px;
                }
            }
            
            .product-teaser__ingredients {
                display: none;
            }
            
            .toggle-btn {
                margin-top: 0px;
            }
            
            .zutaten {
                overflow: hidden;
                
                .center {
                    background: none;
                }
                
                h2 {
                    margin-top: 50px;
                }
                
                .cta-btn {
                    padding-right: 35px;
                }
                
                .product-teaser__content-wrapper {
                    &.far-top {
                        margin: 5% 0 20px 0;
                    }
                }
                
                .small-margin-right {
                    margin-right: 5px;
                }
            }
            
            #product-carousel {
                padding-left: 25px;
            }

            .zutatenliste {
                .arrow {
                    background-position: -130px -198px !important;
                }

                &.active {
                    .arrow {
                        background-position: -155px -198px !important;
                    }
                }
            }

            .collapsible {
                &.zutatenliste {
                    padding: 20px 20px 5px 25px;
                }
            }

        }

        @media (min-width: 1000px) {
            .ingredients__slider {
                display: none;
            }
            .ingredients__details {
                display: block;
            }

            .collapsible {
                &.mobile {
                    display: none !important;
                }
                &.desktop {
                    .nutrition-facts, .footnote {
                        display: table !important;
                    }
                }
            }

            .schon-gewusst-slider {
                padding-top: 0 !important;
            }
        }

        @media (min-width: 768px) and (max-width: 1000px) {
            .product-teaser {
                width: 100%;
                margin-top: 0px;
                margin-bottom: 40px;
                border-radius: 5px;
                background-color: #FFF;

                &.teaser-backen {

                    background-image: url('../../media/product/bg-backen.jpg');

                    picture {
                        position: relative;
                    }

                    img {
                        margin-top: 5%;

                    }

                    .product-teaser__content-wrapper {
                        position: absolute;
                        width: 100%;
                        top: 0px;
                        left: initial;
                        font-size: 14px;

                        h3 {
                            width: 98%;
                            margin-top: -18px;
                        }
                    }
                }

                &.schon-gewusst {
                    h2 {
                        margin: 0 0 10px 0;
                    }

                    .schon-gewusst-slider {
                        padding-top: 0 !important;
                    }
                }
            }
        }

        @media (max-width: 350px) {
            .collapsible {
                &.mobile {
                    .th-0 {
                        line-height: 24px;
                        text-align: center;
                        padding: 0 35px;
                    }
                }
            }

            .schon-gewusst-slider {
                padding-top: 0 !important;
            }
        }
        
        @media (max-width: 439px) {
            .product-teaser__carousel-wrapper {
                height: 170px !important;
            }

            .product-teaser {

                &.teaser-backen {
                    .product-teaser__content-wrapper {
                        h2 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 639px) {
            .teaser-xlarge {
                /*height: 440px;*/
            }
            .product-teaser h2 {
                top: 40px;
                left: 0;
            }
            .teaser-backen {
                &.product-teaser h2 {
                    left: 10px;
                }

            }

            .nutrition-facts {
                min-width: initial;
            }
        }
        
        @media (max-width: 1150px) {


            .flying-element {
                display: none !important;
            }

            .product-teaser__arrow {
                display: none !important;
            }

            .product-teaser {

                margin-top: 0px;
                margin-bottom: 30px;

                &.teaser-backen {
                    .product-teaser__content-wrapper {
                        h2 {
                            font-size: 18px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }
}

.cta-btn {
    &.cta-btn--secondary {
        background: #f46f42;
        background: linear-gradient(#f46f42, #e63217);
        border-radius: 5px;
    }
}

.btn-close__triangle {
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 11px 0 11px;
    border-color: #10a7e8 transparent transparent transparent;
}