body.spielefinder {

	$featurephone: 320;
	$smartphone: 480;
	$tablet: 768;
	$desktop: 992;

	// Spielefinder Overview Site
	.uppercase {
		text-transform: uppercase;
	}

	.toggle-filter-menu {
		display: none;
		margin-top: 50px;
	}

	.sbSelector {
		position: relative;
		display: inline-block;
		color: #33baf5;
		font-size: 20px;
		padding: 15px 20px;
		text-align: center;
		width: auto;
	}

	.sbSelector:after {
		content: '';
		background-image: url(../media/sprite2.png);
		width: 19px;
		height: 21px;
		position: absolute;
		top: 19px;
		right: -4px;
		background-position: -170px -244px;
	}

	.sbSelector.clear-filter:after {
		background-position: -152px -403px;
	}

	.filter {
		position: relative;
		margin: 20px 0 50px 0;
	}

	.filter-menu {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: url(../media/tabs-bg.png);
			background-position: 50% 100%;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;
		}
	}

	.select-style- {
		display: inline-block;
		text-align: center;
		width: 16.3%;
	}

	.sbHolder {
		position: relative;
		width: 100%;
		margin: 15px 2px 0 0;
		text-align: center;

		background: none;
		min-height: 0;
		float: none;
	}

	.clear-top10 {
		width: 32.6%;
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: center;

		.select-style- {
			width: 49%;
		}
	}

	.sbSelector.top10 {
		background: #ee3d2c url(images/tab-bg.png) 0 0 no-repeat;
		background-size: 100% 100%;
		color: #fff;
		border-radius: 5px 5px 0 0;
		display: block;
	}

	.sbSelector.top10:before, .sbSelector.top10:after {
		content: '';
		box-shadow: -4px 3px 3px -3px rgba(0, 96, 140, 0.75);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.sbSelector.top10:after {
		box-shadow: 4px 3px 3px -3px rgba(0, 96, 140, 0.75);
	}

	.product-teaser.teaser-onecol {
		background: #f2f9fe;
		background: -moz-linear-gradient(top, #f2f9fe 0%, #e8f5fc 4%, #76c6e7 100%);
		background: -webkit-linear-gradient(top, #f2f9fe 0%, #e8f5fc 4%, #76c6e7 100%);
		background: linear-gradient(to bottom, #f2f9fe 0%, #e8f5fc 4%, #76c6e7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#76c6e7',GradientType=0 );
		border-radius: 5px;
		height: 378px;
		width: 100%;
		border: 1px solid rgba(1, 113, 156, 0.1);
		border-top: white;
	}

	.product-teaser.teaser-onecol img {
		left: inherit;
		margin: 0;
	}

	.product-teaser.teaser-onecol img {
		position: absolute;
		bottom: 0;
		border-radius: 0 0 5px 5px;
		width: auto;
		right: 0;
	}

	.product-teaser__content-wrapper h2 {
		font-size: 21px;
	}

	.product-teaser__content-wrapper * {
		color: #0072a0;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	.product-teaser__content-wrapper p {
		margin-top: 4px;
		color: #13a6e7;
	}

	// Spielefinder Detail View
	.spiel-inner .top-wrapper {
		background: #e8f5fc;
		background: -moz-linear-gradient(45deg, #e8f5fc 0%, #cceaf9 100%);
		background: -webkit-linear-gradient(45deg, #e8f5fc 0%, #cceaf9 100%);
		background: linear-gradient(45deg, #e8f5fc 0%, #cceaf9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f5fc', endColorstr='#cceaf9',GradientType=1 );
		min-height: 270px;
		border-radius: 5px 5px 0 0;
		border-style: solid;
		border-color: rgba(1, 113, 156, 0.1);
		border-width: 1px 1px 0 1px;

		.row-fluid:last-of-type {
			@media (max-width: $tablet - 1px) { // smartphones
				margin-bottom: 90px;
			}

			@media (max-width: $smartphone - 1px) { // smaller smartphones
				margin-bottom: 26px;
			}
		}
	}

	.spiel-inner > [class*="-wrapper"] {
		position: relative;
		box-sizing: border-box;
		padding: 50px;
		color: #01719c;
		margin: 0;
	}

	.spiel-inner > [class*="-wrapper"] h2 {
		width: 80%;
		position: static;
		margin-bottom: 40px;
	}

	.spiel-inner .top-wrapper img {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.spiel-inner .bottom-wrapper {
		background: #8ed0ec;
		background: -moz-linear-gradient(bottom, #8ed0ec 0%, #d5eefb 100%);
		background: -webkit-linear-gradient(bottom, #8ed0ec 0%, #d5eefb 100%);
		background: linear-gradient(to top, #8ed0ec 0%, #d5eefb 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed0ec', endColorstr='#cceaf9',GradientType=1 );
		border-radius: 0 0 5px 5px;
		padding-bottom: 130px;
		border-style: solid;
		border-color: rgba(1, 113, 156, 0.1);
		border-width: 0 1px 1px 1px;
	}

	.spiel-inner .top-wrapper:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url(../media/tabs-bg.png);
		background-position: 50% 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.spiel-inner .bottom-wrapper h2 {
		font-size: 25px;
		color: #0ea4e7;
		margin: 35px 0 15px 0;
	}

	.social-print, .social-share {
		background: #2fccf3;
		background: linear-gradient(#2fccf3, #0ea4e7);
		color: #fff;
		&:hover {
			cursor: pointer;
		}
	}

	.social-wrapper {
		left: 0;
		padding: 30px 50px;
		box-sizing: border-box;
		position: absolute;
	}

	.social-wrapper .cta-btn {
		border-radius: 5px;
	    padding: 0px;
	    z-index: 1;
	    font-size: 18px;
	    &:hover {
	    	cursor: pointer;
	    }
	}

	.social-share .shariff-button a {
		background-color: transparent !important;
		color: #fff;
		border-top: 1px solid #97d4e9;
		padding: 0 13px;
	}

	.social-share .shariff-button {
		background: none;
		height: 40px;
	}

	.social-share .shariff-button .share_text {
		font-size: 20px;
		padding-left: 20px;
		font-family: 'TradeGothic', Arial, Helvetica, sans-serif;
		font-style: normal;
	}

	.social-share {

		&:hover .shariff {
			display: block;
		}

		.shariff {
			display: none;
		}
	}

	.link-list--margin {
		margin-bottom: 50px;
	}

	// Responsive Styles Overview
	@media (max-width: $desktop - 1px) { // tablets
		.sbSelector {
			font-size: 17px;
		}
	}

	@media (max-width: $tablet - 1px) { // smartphones
		.clear-filter {
			padding-left: 0;
		}
		.product-teaser {
			&:after, &:before {
				background-image: none !important;
			}
		}
		.spiele-item {
			width: 46%;
			margin: 0 2%;
			float: left;
		}
		.toggle-filter-menu {
			display: block;
			.select-style- {
				width: 33%;
			}
		}
		.product-teaser__content-wrapper.left {
			width: 89%;
		}
		.product-teaser.main-teaser.spielefinder {
			max-width: 606px;
			border-radius: 5px;
			background: -moz-linear-gradient(top, #76c6e7 0%, rgba(41, 137, 216, 0.01) 99%, rgba(41, 137, 216, 0) 100%);
			background: -webkit-linear-gradient(top, #76c6e7 0%, rgba(41, 137, 216, 0.01) 99%, rgba(41, 137, 216, 0) 100%);
			background: linear-gradient(to bottom, #76c6e7 0%, rgba(41, 137, 216, 0.01) 99%, rgba(41, 137, 216, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c6e7', endColorstr='#002989d8',GradientType=0 );

			img {
				display: none;
			}
		}
		.product-teaser.main-teaser.spielefinder .product-teaser__content-wrapper {
			position: relative;
			padding: 30px;
			width: 89%;
			box-sizing: border-box;
			top: 0;
			left: 30px;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
		.filter-menu .select-style- {
			width: 49%;
			text-align: center;
			display: inline-block;
		}
		.filter-menu {
			display: none;
		}
		.clear-top10 {
			width: 66%;
			top: -51px;
			bottom: inherit;
		}
		.filter {
			margin-top: 0;
			margin-bottom: 20px;
		}
		.product-teaser.teaser-onecol img {
			left: inherit;
		}
		.toggle-filter-menu {
			margin-top: 20px;
		}
	}

	@media (max-width: $smartphone - 1px) { // smaller smartphones
		.spiele-item {
			width: 100%;
			margin: 0;
		}
		.product-teaser.main-teaser.spielefinder .product-teaser__content-wrapper {
			padding: 10px;
		}
		.product-teaser__content-wrapper h2 {
			line-height: 28px;
			margin-bottom: 10px;
		}
		.product-teaser__content-wrapper p {
			line-height: 1.4em;
		}
	}


	// Responsive Styles Detail
	@media (max-width: $desktop - 1px) { // tablets
		.spiel-inner .bottom-wrapper {
			padding-bottom: 180px;
		}
		.cta-btn {
			width: 100%;
			margin-left: 0;
			margin-bottom: 10px;
		}
		.link-list--margin {
			margin-bottom: 100px;
		}
	}

	@media (max-width: $tablet - 1px) { // smartphones
		.spiel-inner .top-wrapper .row-fluid [class*="span"] {
			float: left;
			width: 50%;
		}
		.spiel-inner .top-wrapper img {
			width: 180px;
		}
		.shariff-button.whatsapp {
			display: block !important;
		}
	}

	@media (max-width: $smartphone - 1px) { // smaller smartphones
		.spiel-inner .top-wrapper img {
			width: 100px;
		}
		.spiel-inner > [class*="-wrapper"] {
			padding-left: 20px;
			padding-right: 20px;
		}
		.social-wrapper {
			padding: 10px;
		}
		.link-list--margin {
			margin-bottom: 60px;
		}
	}

}