/* TABS---------------------- */

.tabs {

	ul {
		width: 100%;
		position: relative;
		margin: 50px 0;
		overflow: hidden;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: url(../media/tabs-bg.png);
			background-position: 50% 100%;
			background-size: contain;
			background-repeat: no-repeat;
			/*z-index: -1;*/
		}

		@media (max-width: 768px) {
			margin-top: 20px;
		}
	}

	li {
		display: inline-block;
		position: relative;
		width: 24.5%;
		text-align: center;
		border-radius: 5px 5px 0 0;
		z-index: 1;

		&.active {
			background: #00adf0 url(images/tab-bg.png) 0 0 no-repeat;
			background-size: 100% 100%;
			box-shadow: 0px 10px 10px 0px rgba(0, 96, 140, 0.75);
		}
	}

	a {
		color: #00adf0;
		font-size: 20px;
		display: block;
		padding: 20px 0;
	}

	.active a {
		color: #fff;
	}

	.arrow {
		display: none;
	}
}

.tabs--in-box {
	$tabs-border-radius-mobile: 5px;

	width: 100%;
	background: #fff;
	border-radius: $tabs-border-radius-mobile $tabs-border-radius-mobile 0 0;

	//temp
	@media screen and (max-width: $smartphone-max) {
		margin: 0 0 40px;
		border-radius: $tabs-border-radius-mobile;
	}

	ul {
		display: table;
		margin: 0;

		@media screen and (max-width: $smartphone-max) {
			//remove inset shadow
			&:after {
				display: none;
			}
		}
	}

	li, select {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: bold;
		font-style: italic;
		font-size: 18px;
	}

	select {
		text-align: center;
	}

	a, select {
		padding: 20px 0;

		@media screen and (max-width: $smartphone-max) {
			padding: 0.8em 0;
		}
	}

	li {
		display: table-cell;
		width: auto;

		@media screen and (max-width: $smartphone-max) {
			display: block;
		}

		a:before {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			content: '';
			width: 1px;
			background: #CADFE6;
			background: linear-gradient(to bottom, transparent 20%,
				#00adf0, transparent 90%);

			@media screen and (max-width: $smartphone-max) {
				display: none;
				background: none;
			}
		}

		&.active a:before,
		&:first-child a:before,
		&.active + li a:before {
			display: none;
		}

		&.active {
			box-shadow: none;

			@media screen and (max-width: $smartphone-max) {
				display: block;
				border-radius: $tabs-border-radius-mobile;
			}
		}
	}
}

.tabs--in-box.btn-shadow-wrapper {
	//hide the actual shadow on desktop
	&:before {
		display: none;

		@media screen and (max-width: $smartphone-max) {
			display: block;
		}
	}
}

//only for tabs--in-box
.tabs--narrow-select {
	position: relative;


	li {
		@media screen and (max-width: $smartphone-max) {
			display: none;

			&.active {
				display: block;

				.arrow {
					top: 0;
					bottom: 0;
					margin: auto;
					display: block;
				}
			}
		}
	}
}

.tabs--narrow-select-failed {
	li {
		&,
		&.active {
			@media screen and (max-width: $smartphone-max) {
				display: block;
			}
		}
	}

	.narrowselect__label {
		display: none;
	}
}

.narrowselect__label {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	@media screen and (max-width: $smartphone-max) {
		display: block;
	}

	span {
		position: absolute;
		overflow: hidden;
		margin: -1px;
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
		padding: 0;
	}
}

.narrowselect__select {
	position: absolute;
	display: none;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	z-index: -1;
	-webkit-appearance: none;
	appearance: none;

	@media screen and (max-width: $smartphone-max) {
		display: block;
		z-index: 3;
	}
}