

//generic text box
.text-box {
	p {
		margin: 1em 0;
		line-height: 1.4;
	}
}

.text-box--centered {
	text-align: center;
}

.text-box--key-color {
	color: $color-keycolor-text;
}

.text-box--small {
	font-size: 16px;
	a {
		color: #00a4e8;
	}
}